@import url("https://mmwebfonts.comquas.com/fonts/?font=pyidaungsu");
.three .btn1, .three .btn2, .three .btn3, .three .btn5, .three .btn6 {
  position: absolute;
  width: 200px;
  height: 45px;
  border-radius: 70px;
  -webkit-box-shadow: 0px 8px 5px 2px #BFBFBF;
  box-shadow: 0px 8px 5px 2px #BFBFBF;
  border: none;
}

.three .btn4, .three .btn7, .three .btn8 {
  position: absolute;
  width: 150px;
  height: 40px;
  border-radius: 70px;
  -webkit-box-shadow: 0px 8px 5px 2px #BFBFBF;
  box-shadow: 0px 8px 5px 2px #BFBFBF;
  border: none;
}

.three .btn1:after, .three .btn2:after, .three .btn3:after, .three .btn5:after, .three .btn6:after {
  content: "\f00c";
  font-family: Fontawesome;
  color: white;
  padding: 8px;
  font-size: 15px;
  position: absolute;
  border: 4px solid white;
  border-radius: 50%;
  width: 10%;
  height: 35%;
  background: #5B8EDC;
  margin-top: -40px;
  margin-left: 70px;
}

.three .btn1 p, .three .btn2 p, .three .btn3 p, .three .btn5 p, .three .btn6 p {
  unicode-bidi: bidi-override;
  color: white;
  font-size: 18px;
  margin-top: -15px;
}

.three .btn4 p, .three .btn7 p, .three .btn8 p {
  unicode-bidi: bidi-override;
  color: black;
  font-size: 13px;
  margin-top: -12px;
  opacity: 0.5;
}

.four .add_ani .three_one h3, .four .add_ani .three_two h3, .four .add_ani .three_three h3 {
  margin-left: 25px;
  margin-top: 25px;
  position: absolute;
}

.four .add_ani .three_one p, .four .add_ani .three_two p, .four .add_ani .three_three p {
  margin-top: 65px;
  margin-left: 25px;
  color: #5B8EDC;
}

.four .add_ani .three_one span, .four .add_ani .three_two span, .four .add_ani .three_three span {
  font-size: 12px;
  opacity: 0.5;
  margin-left: 25px;
}

.three p {
  text-align: center;
  color: #3D3D3D;
  height: 0px;
  font-weight: bolder;
}

.three p .btn {
  border: 0px;
  border-bottom: 3px solid #DFE4FD;
  background: white;
}

.four .add_ani .three_one, .four .add_ani .three_two, .four .add_ani .three_three {
  width: 250px;
  height: 170px;
  border: 1px solid gray;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(170, 170, 170, 0.54);
  box-shadow: 0px 5px 10px 0px rgba(170, 170, 170, 0.54);
}

.four .add_ani .three_one img, .four .add_ani .three_two img, .four .add_ani .three_three img {
  width: 140px;
  height: 140px;
  border-radius: 25px;
  margin-top: -120px;
  margin-left: 25px;
  position: absolute;
}

.five .meal .up-to-date .slide_group .card .transparent_cover, .five .meal .up-to-date .slide_group .card_1 .transparent_cover, .five .meal .up-to-date .slide_group .card_2 .transparent_cover {
  position: absolute;
  height: 230px;
  width: 270px;
  background: #010101;
}

.five .meal .up-to-date .slide_group .card span, .five .meal .up-to-date .slide_group .card_1 span, .five .meal .up-to-date .slide_group .card_2 span {
  font-size: 20px;
  margin-left: 10px;
}

.five .meal .up-to-date .slide_group .card p, .five .meal .up-to-date .slide_group .card_1 p, .five .meal .up-to-date .slide_group .card_2 p {
  font-size: 12px;
  margin-left: 10px;
}

.five .meal .up-to-date .slide_group .card, .five .meal .up-to-date .slide_group .card_1, .five .meal .up-to-date .slide_group .card_2 {
  position: relative;
  border: 3px solid #e7eaee;
  -webkit-box-shadow: #e7eaee;
          box-shadow: #e7eaee;
  background: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 270px;
  height: 345px;
}

.five .meal .up-to-date .slide_group .card img, .five .meal .up-to-date .slide_group .card_1 img, .five .meal .up-to-date .slide_group .card_2 img {
  width: 270px;
  height: 230px;
  opacity: 0.9;
}

.five .meal .up-to-date .slide_group .card .container, .five .meal .up-to-date .slide_group .card_1 .container, .five .meal .up-to-date .slide_group .card_2 .container {
  padding: 0px 15px;
  background: white;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.five .meal .up-to-date .slide_group .card .container span, .five .meal .up-to-date .slide_group .card_1 .container span, .five .meal .up-to-date .slide_group .card_2 .container span {
  font-size: 13px;
}

.footer .menu, .footer .help {
  padding-top: 35px;
}

.footer .menu ul, .footer .help ul {
  list-style: none;
  line-height: 2.4;
}

.footer .menu ul li a:first-child, .footer .help ul li a:first-child {
  color: #6B8AFF;
}

.footer .menu ul li:nth-child(1n+2) a, .footer .help ul li:nth-child(1n+2) a {
  color: #BFBFBF;
  font-size: 12px;
}

.footer .menu ul a, .footer .help ul a {
  text-decoration: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  background: white;
}

.header .logo1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .logo1 img {
  width: 45px;
  line-height: 50px;
  padding: 5px 25px;
  height: 45px;
}

.header .logo1 p {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #3D3D3D;
}

.header nav ul {
  list-style: none;
  margin: 0px;
}

.header nav ul li {
  display: inline-block;
  color: black;
  text-decoration: none;
  padding: 10px 30px;
  position: relative;
}

.header nav ul li a:active {
  color: #6B8AFF;
}

.header nav ul li a:hover {
  color: #6B8AFF;
}

.header nav ul li a {
  text-decoration: none;
  color: #1E1E1E;
}

.header nav ul li:hover:not(:last-child):before {
  content: "";
  width: 25px;
  height: 3px;
  background: #5B8EDC;
  left: 30px;
  bottom: 0;
  position: absolute;
}

.header nav ul .btn1 {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #5190DE;
  color: white;
  border-radius: 50px;
  background: #5190DE;
  height: 30px;
}

.header nav ul .btn1 a {
  color: white;
  font-weight: 700;
}

.header nav ul .btn1 a:hover {
  color: #3D3D3D;
}

.header .home a {
  color: #6B8AFF;
}

.header .home a::before {
  content: "";
  width: 25px;
  height: 3px;
  background: #5B8EDC;
  left: 30px;
  bottom: 0;
  position: absolute;
}

body, html {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

.section {
  font-family: 'Roboto', sans-serif;
  position: relative;
  min-height: 85vh;
  height: 350px;
}

.section .one {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr 2fr;
      grid-template-columns: 2fr 2fr 2fr;
}

.section .textone {
  line-height: 20px;
  margin-top: 150px;
  margin-left: 80px;
}

.section .hungry {
  font-weight: 700px;
  color: #5190DE;
  font-weight: bold;
}

.section .tetone {
  margin-left: 30px;
  padding-top: 100px;
}

.section .corner {
  background: #DFE4FD;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  margin-top: 30px;
  margin-left: -190px;
  z-index: 0;
  opacity: 0.5;
}

.section .font-myan {
  font-family: 'Pyidaungsu', sans-serif;
}

.section .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section .shadow1 img, .section .shadow2 img, .section .shadow3 img {
  width: 10px;
  height: 200px;
}

.section .shadow1 img {
  margin-right: -145px;
  margin-top: 50px;
  width: 265px;
  height: 265px;
}

.section .shadow3 img {
  margin-left: -145px;
  margin-top: 50px;
  width: 265px;
  height: 265px;
}

.section .count {
  margin-top: 110px;
}

.section .count .num1::after {
  content: '+';
  color: #6B8AFF;
  margin-left: 3px;
}

.section .count .num2::after {
  content: '+';
  color: #C59828;
  margin-left: 3px;
}

.section .count .num3::after {
  content: '+';
  color: #A32222;
  margin-left: 3px;
}

.section .count .num4::after {
  content: '+';
  color: #409418;
  margin-left: 3px;
}

.section .count .num {
  font-size: 20px;
  font-weight: bolder;
}

.section .numcount1, .section .numcount2, .section .numcount3, .section .numcount4 {
  text-align: right;
  margin-left: 20px;
  -webkit-text-size-adjust: 80px;
     -moz-text-size-adjust: 80px;
      -ms-text-size-adjust: 80px;
          text-size-adjust: 80px;
  padding: 0px;
  margin-right: 80px;
}

.section .numcount1 {
  color: #6B8AFF;
}

.section .numcount1 .vertical-line1 {
  border-right: 3px solid #6B8AFF;
  padding-right: 10px;
  line-height: 10px;
}

.section .numcount1 span {
  font-size: 12px;
}

.section .numcount2 {
  color: #C59828;
}

.section .numcount2 .vertical-line2 {
  border-right: 3px solid #C59828;
  padding-right: 10px;
  line-height: 10px;
}

.section .numcount2 span {
  font-size: 12px;
  line-height: 0.6;
}

.section .numcount3 {
  color: #A32222;
}

.section .numcount3 .vertical-line3 {
  border-right: 3px solid #A32222;
  padding-right: 10px;
  line-height: 10px;
}

.section .numcount3 span {
  font-size: 12px;
  line-height: 0.6;
}

.section .numcount4 {
  color: #409418;
}

.section .numcount4 .vertical-line4 {
  border-right: 3px solid #409418;
  padding-right: 10px;
  line-height: 10px;
}

.section .numcount4 span {
  font-size: 12px;
  line-height: 0.6;
}

.section .stores {
  margin-left: 500px;
  position: absolute;
}

.section .stores .playstore {
  width: 160px;
  height: 50px;
  margin-top: 38px;
}

.section .stores .applestore {
  width: 190px;
  height: 90px;
  margin-left: 20px;
  /* padding-top: 20px; */
  position: absolute;
  margin-top: 18px;
}

.font-align .text2 {
  line-height: 1px;
  -webkit-animation-name: text2;
          animation-name: text2;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes text2 {
  0% {
    opacity: 0;
    margin-left: -30px;
  }
  100% {
    opacity: 1;
  }
}

@keyframes text2 {
  0% {
    opacity: 0;
    margin-left: -30px;
  }
  100% {
    opacity: 1;
  }
}

.font-align .text2 .textwo {
  font-family: 'Pyidaungsu', sans-serif;
  font-size: 15px;
  line-height: 40px;
  margin-top: 20px;
  margin-left: 100px;
}

.font-align .text2 .textwo_below {
  font-family: 'Pyidaungsu', sans-serif;
  color: #5190DE;
  font-size: 15px;
  margin-left: 160px;
}

.font-align .text2 .textwo_below span {
  color: black;
  padding-left: 7px;
}

.one .wrapper .shadow3 {
  -webkit-animation-name: shadowone;
          animation-name: shadowone;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
}

@-webkit-keyframes shadowone {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes shadowone {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.one .wrapper .shadow1 {
  -webkit-animation-name: shadowtwo;
          animation-name: shadowtwo;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
  z-index: 10;
}

@-webkit-keyframes shadowtwo {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes shadowtwo {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.one .wrapper .shadow2 {
  -webkit-animation-name: shadowtwo;
          animation-name: shadowtwo;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
  z-index: 10;
}

@keyframes shadowtwo {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.font-align.animated .text2 {
  -webkit-animation-name: fadeout;
          animation-name: fadeout;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-iteration-count: inherit;
          animation-iteration-count: inherit;
}

@-webkit-keyframes fadeout {
  0% {
    opacity: 0;
    margin-left: -30px;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 0;
    margin-left: -30px;
  }
  100% {
    opacity: 1;
  }
}

.wrapper.animated .shadow3 {
  -webkit-animation-name: shadowthree;
          animation-name: shadowthree;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
}

@-webkit-keyframes shadowthree {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes shadowthree {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.wrapper.animated .shadow1 {
  -webkit-animation-name: shadowone;
          animation-name: shadowone;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
}

@keyframes shadowone {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.wrapper .shadow2 img {
  position: relative;
  width: 265px;
  height: 330px;
  z-index: 9;
}

.wrapper.animated .shadow2 {
  -webkit-animation-name: shawdow2;
          animation-name: shawdow2;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
}

@-webkit-keyframes shawdow2 {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes shawdow2 {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.section2 {
  font-family: 'Roboto', sans-serif;
  position: relative;
  z-index: 5;
  min-height: 100vh;
  width: auto;
  overflow: hidden;
}

.section2 .two {
  position: relative;
  margin-top: 20px;
  z-index: 8;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
  background: #EEF3FF;
  width: 110%;
  margin-left: -12px;
  height: 600px;
}

.section2 .two .border {
  margin-top: 100px;
  border: 1px solid blue;
  max-width: 780px;
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
  margin-right: 130px;
}

.section2 .two .border h1 {
  color: #3D3D3D;
  margin-left: -65px;
  margin-right: 566px;
  font-size: 45px;
  padding: 2px;
  height: 60px;
  font-weight: 700px;
  margin-top: 60px;
  background: #EEF3FF;
}

.section2 .two .soup {
  margin-top: 250px;
}

.section2 .two .soup > img {
  width: 240px;
  position: absolute;
  height: 260px;
  margin-left: -68px;
}

.section2 .two .pan {
  margin-top: 180px;
  position: absolute;
  margin-left: 50px;
}

.section2 .two .pan > img {
  width: 100px;
  height: 100px;
  position: relative;
  z-index: 2;
  -webkit-transform: translateX(1210px);
          transform: translateX(1210px);
}

.section2 .two .pizza {
  position: absolute;
  margin-top: 30px;
  margin-left: 300px;
  height: 250px;
}

.section2 .two .pizza > img {
  position: absolute;
  z-index: 5;
  width: 150px;
  height: 150px;
  margin-left: -30px;
}

.section2 .two .icon1 {
  position: absolute;
}

.section2 .two .icon1 > img {
  width: 30px;
  height: 30px;
  margin-top: 15px;
  margin-left: 25px;
}

.section2 .two .icon2 {
  position: absolute;
}

.section2 .two .icon2 > img {
  width: 30px;
  height: 30px;
  margin-top: 15px;
  margin-left: 400px;
}

.section2 .two .icon3 {
  position: absolute;
}

.section2 .two .icon3 > img {
  width: 30px;
  height: 30px;
  margin-top: 22px;
  -webkit-transform: translateX(700px);
          transform: translateX(700px);
}

.section2 .two .icon4 {
  position: absolute;
}

.section2 .two .icon4 > img {
  width: 30px;
  height: 30px;
  margin-top: 50px;
  -webkit-transform: translateX(1000px);
          transform: translateX(1000px);
}

.section2 .two .icon5 {
  position: absolute;
}

.section2 .two .icon5 > img {
  width: 30px;
  height: 30px;
  margin-top: 18px;
  -webkit-transform: translateX(1150px);
          transform: translateX(1150px);
}

.section2 .two .icon6 {
  position: absolute;
}

.section2 .two .icon6 > img {
  width: 30px;
  height: 30px;
  margin-top: 200px;
  margin-left: 50px;
}

.section2 .two .icon7 {
  position: absolute;
}

.section2 .two .icon7 > img {
  width: 30px;
  height: 30px;
  margin-top: 220px;
  margin-left: 200px;
}

.section2 .two .icon8 {
  position: absolute;
}

.section2 .two .icon8 > img {
  width: 30px;
  height: 30px;
  margin-top: 350px;
  -webkit-transform: translateX(350px);
          transform: translateX(350px);
}

.section2 .two .icon9 {
  position: absolute;
}

.section2 .two .icon9 > img {
  width: 30px;
  height: 30px;
  margin-top: 500px;
  -webkit-transform: translateX(330px);
          transform: translateX(330px);
}

.section2 .two .icon10 {
  position: absolute;
}

.section2 .two .icon10 > img {
  width: 30px;
  height: 30px;
  margin-top: 140px;
  -webkit-transform: translateX(1100px);
          transform: translateX(1100px);
}

.section2 .two .icon11 {
  position: absolute;
}

.section2 .two .icon11 > img {
  width: 30px;
  height: 30px;
  margin-top: 145px;
  -webkit-transform: translateX(800px);
          transform: translateX(800px);
}

.section2 .two .icon12 {
  position: absolute;
}

.section2 .two .icon12 > img {
  width: 30px;
  height: 30px;
  margin-top: 500px;
  -webkit-transform: translateX(730px);
          transform: translateX(730px);
}

.section2 .two .icon13 {
  position: absolute;
}

.section2 .two .icon13 > img {
  width: 30px;
  height: 30px;
  margin-top: 500px;
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}

.border .description {
  font-family: 'Pyidaungsu', sans-serif;
  padding: 80px;
  padding-top: 20px;
  line-height: 30px;
  padding-left: 35px;
  -webkit-transform: scale(0);
          transform: scale(0);
  font-weight: 100;
}

.border .description b {
  font-weight: 700;
}

.border.animated .description {
  -webkit-animation-name: description;
          animation-name: description;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.border.animated .description span {
  color: #5190DE;
  padding-right: 5px;
}

@-webkit-keyframes description {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0.1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes description {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0.1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.three {
  position: relative;
  background: white;
  min-height: 100%;
  height: 850px;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 20px;
}

.three .next-btn {
  position: absolute;
  margin-top: -95px;
  text-align: center;
  margin-left: -50px;
}

.three .btn1 {
  margin-top: 180px;
  margin-left: 500px;
  background: #299042;
}

.three .btn2 {
  margin-top: 240px;
  margin-left: 110px;
  background: #FCAB27;
}

.three .btn3 {
  margin-top: 300px;
  margin-left: 350px;
  background: #FD5C42;
}

.three .btn4 {
  margin-top: 360px;
  margin-left: 110px;
  background: transparent;
}

.three .btn5 {
  margin-top: 420px;
  margin-left: 510px;
  background: #74DBD3;
  position: absolute;
  z-index: 5;
}

.three .btn6 {
  margin-top: 480px;
  margin-left: 230px;
  background: #9CEB48;
}

.three .btn7 {
  margin-top: 550px;
  margin-left: 420px;
  background: transparent;
}

.three .btn8 {
  margin-top: 600px;
  margin-left: 120px;
  background: transparent;
}

.three .rotate-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  background: transparent;
}

.three .rotate-img .phimg {
  margin-top: 330px;
  height: 680px;
  position: absolute;
  margin-left: 500px;
  z-index: 2;
}

.three .rotate-img .back-img {
  position: relative;
  width: 130px;
  height: 90px;
  margin-left: 1240px;
}

.three .rotate-img .fruit {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-top: 280px;
  margin-left: 1220px;
}

.three .rotate-img figure {
  position: absolute;
  margin-top: 580px;
  margin-left: 1060px;
  text-align: center;
  font-size: 15px;
}

.three .rotate-img figure .search {
  width: 50px;
  height: 50px;
}

.three .corner1 {
  margin-left: -70px;
  margin-top: 430px;
  width: 150px;
  height: 230px;
  background: #DFE4FD;
  border-radius: 0px 130px 130px 0px;
  position: relative;
  z-index: 10;
}

.three .corner1 img {
  width: 150px;
  height: 100px;
  position: relative;
  margin-left: -45px;
  margin-top: 142px;
}

.three .right-corner {
  position: relative;
  z-index: 5;
  margin-left: 1230px;
  margin-top: -170px;
  width: 200px;
  height: 250px;
  background: #DFE4FD;
  border-radius: 74% 25% 95% 48% / 95% 0% 100% 48%;
}

.three .right-corner img {
  height: 150px;
  margin-top: 70px;
  margin-left: 40px;
}

.three .largescale {
  -webkit-animation-name: changescale;
          animation-name: changescale;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes changescale {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes changescale {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.four {
  position: relative;
  background: white;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  width: auto;
}

.four .btn {
  margin-top: 30px;
}

.four .add_ani {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 3fr 3fr;
      grid-template-columns: 3fr 3fr 3fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.four .add_ani .three_one {
  margin-left: 140px;
  margin-top: 60px;
  border: 0px;
}

.four .add_ani .three_two {
  margin-left: 75px;
  margin-top: 60px;
  border: 0px;
}

.four .add_ani .three_three {
  margin-left: 10px;
  margin-top: 60px;
  border: 0px;
}

.four .see_all {
  color: #5190DE;
  width: 250px;
  margin-top: 90px;
  height: 40px;
  border: 0px;
  border: 1px solid #5190DE;
  background: white;
  margin-left: 580px;
}

.four .fa-long-arrow-right {
  margin-left: 20px;
}

.five {
  position: relative;
  min-height: 100%;
  background: white;
  margin-top: -150px;
}

.five .meal {
  width: 600px;
  height: 450px;
  border: 1px solid #5190DE;
  margin-left: 140px;
}

.five .meal .meals {
  height: 80px;
  position: relative;
  z-index: 4;
  margin-left: 900px;
  margin-top: -180px;
  border-radius: 5px;
}

.five .meal .up-to-date {
  width: 350px;
  height: 190px;
  background: white;
  border: 0px;
  position: static;
  z-index: 5;
  margin-left: -40px;
  margin-top: 135px;
}

.five .meal .up-to-date h1 {
  padding-top: 5px;
  word-spacing: 0px;
}

.five .meal .up-to-date span {
  font-size: 15px;
}

.five .meal .up-to-date .slide_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 350px;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 1100px;
  position: static;
  z-index: 1;
  margin-left: 130px;
  margin-top: -290px;
  min-width: 750px;
  max-height: 500px;
  background: transparent;
}

.five .meal .up-to-date .slide_group .card {
  -webkit-transform: translateX(350px);
          transform: translateX(350px);
}

.five .meal .up-to-date .slide_group .card .fa-heart {
  font-family: "Font Awesome 5 Free";
  font-size: 20px;
  position: relative;
  float: right;
  margin-top: -40px;
  margin-right: 20px;
  color: white;
  opacity: 2.5;
}

.five .meal .up-to-date .slide_group .card_1 {
  margin-left: 25px;
  -webkit-transform: translateX(350px);
          transform: translateX(350px);
}

.five .meal .up-to-date .slide_group .card_1 .fa-heart {
  font-family: "Font Awesome 5 Free";
  font-size: 20px;
  position: relative;
  float: right;
  margin-top: -40px;
  margin-right: 20px;
  color: white;
  opacity: 2.5;
}

.five .meal .up-to-date .slide_group .card_2 {
  margin-left: 20px;
  -webkit-transform: translateX(350px);
          transform: translateX(350px);
}

.five .meal .up-to-date .slide_group .card_2 .fa-heart {
  font-family: "Font Awesome 5 Free";
  font-size: 20px;
  position: relative;
  float: right;
  margin-top: -40px;
  margin-right: 20px;
  color: white;
  opacity: 2.5;
}

.five .meal .slide_group.active {
  cursor: grabbing;
  position: relative;
  z-index: 10;
  cursor: -webkit-grabbing;
}

.five .meal .slide_group.active .card, .five .meal .slide_group.active .card_1, .five .meal .slide_group.active .card_2 {
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
}

.six {
  position: relative;
  min-height: 100%;
  background: white;
}

.six .rotate-img {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 3fr;
      grid-template-columns: 3fr 3fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.six .rotate-img .rotation figure {
  margin-top: -45%;
  margin-left: 70px;
  text-align: center;
}

.six .rotate-img .rotation figure img {
  position: relative;
  width: 120px;
  height: 150px;
}

.six .rotate-img .rotation .circle {
  width: 430px;
  height: 430px;
  border: 2px dashed #BFBFBF;
  border-radius: 50%;
  margin-left: 120px;
  margin-top: -100px;
}

.six .rotate-img .rotation .circle img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
}

.six .rotate-img .rotation .circle .cir-img1 {
  margin-left: 105px;
  margin-top: -20px;
}

.six .rotate-img .rotation .circle .cir-img2 {
  margin-left: 300px;
}

.six .rotate-img .rotation .circle .cir-img3 {
  margin-top: 110px;
  margin-left: -10px;
}

.six .rotate-img .rotation .circle .cir-img4 {
  margin-top: 110px;
  margin-left: 385px;
}

.six .rotate-img .rotation .circle .cir-img5 {
  margin-top: 260px;
  margin-left: -12px;
}

.six .rotate-img .rotation .circle .cir-img6 {
  margin-top: 260px;
  margin-left: 390px;
}

.six .rotate-img .rotation .circle .cir-img7 {
  margin-top: 390px;
  margin-left: 105px;
}

.six .rotate-img .rotation .circle .cir-img8 {
  margin-top: 385px;
  margin-left: 300px;
}

.six .rotate-img .fb-snap {
  margin-left: 50px;
  margin-top: -100px;
}

.six .rotate-img .fb-snap .space {
  height: 300px;
  border: 0px dashed #BFBFBF;
}

.six .rotate-img .fb-snap p {
  opacity: 0.5;
  font-size: 22px;
}

.six .rotate-img .fb-snap a {
  text-decoration: none;
}

.six .rotate-img .fb-snap a img {
  width: 180px;
  height: 80px;
  margin-left: 55px;
}

.six .rotate-img .fb-snap a .playstore {
  width: 150px;
  height: 50px;
  margin-top: 15px;
  position: absolute;
}

.footer {
  background: #2F313D;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr 1fr 2fr;
      grid-template-columns: 2fr 2fr 1fr 2fr;
  margin-top: 20px;
  color: white;
  height: 295px;
}

.footer .fungry_logo {
  padding-top: 70px;
  padding-left: 70px;
  height: 222px;
}

.footer .fungry_logo img {
  width: 75px;
  height: 75px;
  border-radius: 5px;
}

.footer .fungry_logo h3 {
  position: absolute;
  padding-left: 120px;
  color: #BFBFBF;
}

.footer .fungry_logo p {
  margin-top: 100px;
  color: #6B8AFF;
  height: 20px;
  line-height: 1.5;
  font-size: 12px;
}

.footer .fungry_logo span {
  font-size: 12px;
  line-height: 8;
  color: #BFBFBF;
}

.footer .address {
  padding-top: 70px;
  color: #6B8AFF;
}

.footer .address p {
  margin-top: 40px;
  font-size: 12px;
  margin-left: 35px;
}

.footer .menu li .half-line {
  content: "";
  /* This is necessary for the pseudo element to work. */
  display: block;
  /* This will put the pseudo element on its own line. */
  margin: 0 auto;
  /* This will center the border. */
  width: 10%;
  /* Change this to whatever width you want. */
  padding-top: 0px;
  /* This creates some space between the element and the border. */
  border-bottom: 3px solid #6B8AFF;
  /* This creates the border. Replace black with whatever color you want. */
  margin-left: -2px;
}

.footer .help li .half-line1 {
  content: "";
  /* This is necessary for the pseudo element to work. */
  display: block;
  /* This will put the pseudo element on its own line. */
  margin: 0 auto;
  /* This will center the border. */
  width: 5%;
  /* Change this to whatever width you want. */
  padding-top: 0px;
  /* This creates some space between the element and the border. */
  border-bottom: 3px solid #6B8AFF;
  /* This creates the border. Replace black with whatever color you want. */
  margin-left: -2px;
}

.footer .social-media ul {
  overflow: auto;
  margin-left: 150px;
}

.footer .social-media ul li {
  list-style-type: none;
  float: left;
}

.footer .social-media ul li a i {
  background: transparent;
  color: #BFBFBF;
  width: 15px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid white;
  font-size: 10px;
  text-align: center;
  margin-right: 10px;
  padding-top: 20%;
}

.footer .social-media ul li a .fa-instagram {
  border: 0px;
  font-size: 18px;
  margin-top: 5px;
}

.footer .social-media ul li a .fa-envelope {
  border: 0px;
  font-size: 18px;
  margin-top: 5px;
}
/*# sourceMappingURL=style.css.map */