@import url("https://mmwebfonts.comquas.com/fonts/?font=pyidaungsu");
.three .one_col .ani_button .btn1, .three .one_col .ani_button .btn2, .three .one_col .ani_button .btn3, .three .one_col .ani_button .btn5, .three .one_col .ani_button .btn6 {
  position: absolute;
  width: 200px;
  height: 45px;
  border-radius: 70px;
  -webkit-box-shadow: 0px 8px 5px 2px #BFBFBF;
  box-shadow: 0px 8px 5px 2px #BFBFBF;
  border: none;
}

.three .one_col .ani_button .btn4, .three .one_col .ani_button .btn7, .three .one_col .ani_button .btn8 {
  position: absolute;
  width: 150px;
  height: 40px;
  border-radius: 70px;
  -webkit-box-shadow: 0px 8px 5px 2px #BFBFBF;
  box-shadow: 0px 8px 5px 2px #BFBFBF;
  border: none;
}

.three .one_col .ani_button .btn1:after, .three .one_col .ani_button .btn2:after, .three .one_col .ani_button .btn3:after, .three .one_col .ani_button .btn5:after, .three .one_col .ani_button .btn6:after {
  content: "\f00c";
  font-family: Fontawesome;
  color: white;
  padding: 8px;
  font-size: 15px;
  position: absolute;
  border: 4px solid white;
  border-radius: 50%;
  width: 10%;
  height: 35%;
  background: #5B8EDC;
  margin-top: -40px;
  margin-left: 70px;
}

.three .one_col .ani_button .btn1 p, .three .one_col .ani_button .btn2 p, .three .one_col .ani_button .btn3 p, .three .one_col .ani_button .btn5 p, .three .one_col .ani_button .btn6 p {
  unicode-bidi: bidi-override;
  color: white;
  font-size: 15px;
  margin-top: -15px;
  font-family: MyanmarSangamMN;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

.three .one_col .ani_button .btn4 p, .three .one_col .ani_button .btn7 p, .three .one_col .ani_button .btn8 p {
  unicode-bidi: bidi-override;
  color: black;
  font-size: 13px;
  margin-top: -12px;
  opacity: 0.5;
}

.four .add_ani .three_one .text, .four .add_ani .three_two .text, .four .add_ani .three_three .text {
  margin-top: 15px;
}

.four .add_ani .three_one .text p, .four .add_ani .three_two .text p, .four .add_ani .three_three .text p {
  margin-left: 25px;
  font-family: Helvetica;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3d3d3d;
  font-size: 14px;
}

.four .add_ani .three_one .text p span, .four .add_ani .three_two .text p span, .four .add_ani .three_three .text p span {
  font-size: 10px;
  font-weight: 500;
  font-family: AvenirNext;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #5b8edc;
  margin: 0;
}

.four .add_ani .three_one .text span, .four .add_ani .three_two .text span, .four .add_ani .three_three .text span {
  font-size: 10px;
  margin-left: 25px;
  font-family: MyanmarSangamMN;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #757575;
}

.three p {
  height: 0px;
  text-align: center;
  font-family: Helvetica;
  font-size: 25px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #3d3d3d;
}

.three p .btn {
  border: 0px;
  border-bottom: 3px solid #DFE4FD;
  background: white;
  padding: 5px;
}

.four .add_ani .three_one, .four .add_ani .three_two, .four .add_ani .three_three {
  width: 250px;
  height: 170px;
  border-radius: 10px;
  border-radius: 16px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(170, 170, 170, 0.54);
  box-shadow: 0px 5px 10px 0px rgba(170, 170, 170, 0.54);
}

.four .add_ani .three_one img, .four .add_ani .three_two img, .four .add_ani .three_three img {
  width: 140px;
  height: 140px;
  border-radius: 25px;
  padding: 15px;
  position: absolute;
}

.five .line .up-to-date .slide_group .card .transparent_cover, .five .line .up-to-date .slide_group .card_1 .transparent_cover, .five .line .up-to-date .slide_group .card_2 .transparent_cover {
  position: absolute;
  height: 250px;
  width: 270px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#000000), color-stop(27%, rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to top, #000000, rgba(0, 0, 0, 0) 27%);
}

.five .line .up-to-date .slide_group .card .container span, .five .line .up-to-date .slide_group .card_1 .container span, .five .line .up-to-date .slide_group .card_2 .container span {
  font-family: MyanmarSangamMN;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #757575;
  margin-left: 10px;
}

.five .line .up-to-date .slide_group .card .container p, .five .line .up-to-date .slide_group .card_1 .container p, .five .line .up-to-date .slide_group .card_2 .container p {
  font-family: MyanmarSangamMN;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #757575;
  margin-left: 10px;
}

.five .line .up-to-date .slide_group .card, .five .line .up-to-date .slide_group .card_1, .five .line .up-to-date .slide_group .card_2 {
  position: relative;
  -webkit-box-shadow: #e7eaee;
          box-shadow: #e7eaee;
  background: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 270px;
  height: 345px;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(170, 170, 170, 0.54);
          box-shadow: 0px 5px 10px 0px rgba(170, 170, 170, 0.54);
}

.five .line .up-to-date .slide_group .card img, .five .line .up-to-date .slide_group .card_1 img, .five .line .up-to-date .slide_group .card_2 img {
  width: 270px;
  height: 250px;
  opacity: 0.9;
}

.five .line .up-to-date .slide_group .card .container, .five .line .up-to-date .slide_group .card_1 .container, .five .line .up-to-date .slide_group .card_2 .container {
  padding: 10px 15px;
  background: white;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.five .line .up-to-date .slide_group .card .container span, .five .line .up-to-date .slide_group .card_1 .container span, .five .line .up-to-date .slide_group .card_2 .container span {
  font-size: 13px;
}

.footer .menu, .footer .help {
  padding-top: 35px;
}

.footer .menu ul, .footer .help ul {
  list-style: none;
  line-height: 2.4;
}

.footer .menu ul li a:first-child, .footer .help ul li a:first-child {
  color: #6b8aff;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: center;
}

.footer .menu ul li:nth-child(1n+2) a, .footer .help ul li:nth-child(1n+2) a {
  color: #BFBFBF;
  font-size: 12px;
  font-family: Helvetica;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.footer .menu ul a, .footer .help ul a {
  text-decoration: none;
}

@font-face {
  font-family: 'AvenirNext';
  font-style: normal;
  font-weight: 900;
  src: url("../public/css/AvenirNext.otf");
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #2e2e2e;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: white;
  font-family: 'Roboto', sans-serif;
}

.header .logo1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .logo1 a {
  display: contents;
  text-decoration: none;
}

.header .logo1 img {
  width: 45px;
  line-height: 50px;
  padding: 5px 25px;
  height: 45px;
}

.header .logo1 p {
  color: #2e2e2e;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.header nav ul {
  list-style: none;
}

.header nav ul li {
  display: inline-block;
  color: black;
  text-decoration: none;
  padding: 10px 30px;
  position: relative;
}

.header nav ul li a:active {
  color: #6B8AFF;
}

.header nav ul li a:hover {
  color: #6B8AFF;
}

.header nav ul li a {
  text-decoration: none;
  color: #1E1E1E;
}

.header nav ul li:hover:not(:last-child):before {
  content: "";
  width: 25px;
  height: 3px;
  background: #5B8EDC;
  left: 30px;
  bottom: 0;
  position: absolute;
}

.header nav ul .btn1 {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #6b8aff;
  color: white;
  border-radius: 50px;
  background: #6b8aff;
  height: 30px;
}

.header nav ul .btn1 a {
  color: white;
  font-weight: 700;
}

.header nav ul .btn1 a:hover {
  color: #3D3D3D;
}

.header .home a {
  color: #6B8AFF;
}

.header .home a::before {
  content: "";
  width: 25px;
  height: 3px;
  background: #5B8EDC;
  left: 30px;
  bottom: 0;
  position: absolute;
}

.campaign img {
  width: 1348px;
  height: 200px;
}

@media only screen and (min-width: 320px) and (max-width: 1024px) {
  .header {
    width: 100vw;
  }
  .campaign img {
    width: 414px;
  }
  .sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
  }
  .sticky {
    padding-top: 10px;
  }
  .nav .toggleNav {
    float: right;
    padding-right: 50px;
    margin-top: 17px;
    text-decoration: none;
  }
  .nav ul.open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 15px;
    width: 100vw;
    overflow: hidden;
    margin-left: -227px;
  }
  .nav ul.open .home a::before {
    display: none;
  }
  .nav ul.open .close {
    margin-left: 90%;
    width: 25px;
    height: 25px;
    position: relative;
  }
  .nav ul.open li {
    position: relative;
    width: 110px;
  }
  .nav ul.open li .btn1 {
    display: none;
  }
}

@font-face {
  font-family: 'proxima-nova';
  font-style: normal;
  font-weight: 900;
  src: url("../public/css/AvenirNext.otf");
}

body, html {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  font-family: AvenirNext;
}

.section {
  font-family: 'Roboto', sans-serif;
  font-family: AvenirNext;
  position: relative;
  min-height: 85vh;
  height: 350px;
}

.section .one {
  font-family: 'Roboto', sans-serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr 2fr;
      grid-template-columns: 2fr 2fr 2fr;
}

.section .textone {
  line-height: 20px;
  margin-top: 150px;
  margin-left: 80px;
}

.section .hungry {
  font-weight: 700px;
  color: #5190DE;
  font-weight: bold;
}

.section .tetone {
  margin-left: 30px;
  padding-top: 100px;
}

.section .corner {
  background: #DFE4FD;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  margin-top: 0.2%;
  margin-left: -190px;
  z-index: 0;
  opacity: 0.5;
}

.section .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section .shadow1 img, .section .shadow2 img, .section .shadow3 img {
  width: 10px;
  height: 200px;
}

.section .shadow1 img {
  margin-right: -145px;
  margin-top: 50px;
  width: 265px;
  height: 265px;
}

.section .shadow3 img {
  margin-left: -145px;
  margin-top: 50px;
  width: 265px;
  height: 265px;
}

.section .count {
  margin-top: 110px;
}

.section .count .num1::after {
  content: '+';
  color: #6B8AFF;
  margin-left: 3px;
}

.section .count .num2::after {
  content: '+';
  color: #C59828;
  margin-left: 3px;
}

.section .count .num3::after {
  content: '+';
  color: #A32222;
  margin-left: 3px;
}

.section .count .num4::after {
  content: '+';
  color: #409418;
  margin-left: 3px;
}

.section .count .num {
  font-size: 20px;
  font-weight: normal;
}

.section .numcount1, .section .numcount2, .section .numcount3, .section .numcount4 {
  text-align: right;
  margin-left: 20px;
  -webkit-text-size-adjust: 80px;
     -moz-text-size-adjust: 80px;
      -ms-text-size-adjust: 80px;
          text-size-adjust: 80px;
  padding: 0px;
  margin-right: 80px;
}

.section .numcount1 {
  color: #6B8AFF;
}

.section .numcount1 .vertical-line1 {
  border-right: 3px solid #6b8aff;
  padding-right: 10px;
  line-height: 10px;
}

.section .numcount1 span {
  font-size: 12px;
  color: #4e4d4d;
}

.section .numcount2 {
  color: #C59828;
  padding-top: 11px;
}

.section .numcount2 .vertical-line2 {
  border-right: 3px solid #C59828;
  padding-right: 10px;
  line-height: 10px;
}

.section .numcount2 span {
  font-size: 12px;
  line-height: 0.6;
  color: #4e4d4d;
}

.section .numcount3 {
  color: #A32222;
  padding-top: 11px;
}

.section .numcount3 .vertical-line3 {
  border-right: 3px solid #A32222;
  padding-right: 10px;
  line-height: 10px;
}

.section .numcount3 span {
  font-size: 12px;
  line-height: 0.6;
  color: #4e4d4d;
}

.section .numcount4 {
  color: #409418;
  padding-top: 11px;
}

.section .numcount4 .vertical-line4 {
  border-right: 3px solid #409418;
  padding-right: 10px;
  line-height: 10px;
}

.section .numcount4 span {
  font-size: 12px;
  line-height: 0.6;
  color: #4e4d4d;
}

.section .stores {
  margin-left: 36%;
  position: absolute;
}

.section .stores .playstore {
  width: 160px;
  height: 50px;
  margin-top: 38px;
}

.section .stores .applestore {
  width: 190px;
  height: 90px;
  margin-left: 20px;
  /* padding-top: 20px; */
  position: absolute;
  margin-top: 18px;
}

.font-align .text2 {
  line-height: 1px;
  -webkit-animation-name: text2;
          animation-name: text2;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes text2 {
  0% {
    opacity: 0;
    margin-left: -30px;
  }
  100% {
    opacity: 1;
  }
}

@keyframes text2 {
  0% {
    opacity: 0;
    margin-left: -30px;
  }
  100% {
    opacity: 1;
  }
}

.font-align .text2 .textwo {
  font-family: 'Pyidaungsu', sans-serif;
  font-size: 15px;
  line-height: 40px;
  margin-top: 20px;
  margin-left: 100px;
}

.font-align .text2 .textwo_below {
  font-family: 'Pyidaungsu', sans-serif;
  color: #5190DE;
  font-size: 15px;
  margin-left: 160px;
}

.font-align .text2 .textwo_below span {
  color: black;
  padding-left: 7px;
}

.one .wrapper {
  padding-top: 100px;
}

.one .wrapper .shadow3 {
  -webkit-animation-name: shadowone;
          animation-name: shadowone;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
}

@-webkit-keyframes shadowone {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes shadowone {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.one .wrapper .shadow1 {
  -webkit-animation-name: shadowtwo;
          animation-name: shadowtwo;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
  z-index: 10;
}

@-webkit-keyframes shadowtwo {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes shadowtwo {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.one .wrapper .shadow2 {
  -webkit-animation-name: shadowtwo;
          animation-name: shadowtwo;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
  z-index: 10;
}

@keyframes shadowtwo {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.font-align.animated .text2 {
  -webkit-animation-name: fadeout;
          animation-name: fadeout;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-iteration-count: inherit;
          animation-iteration-count: inherit;
}

@-webkit-keyframes fadeout {
  0% {
    opacity: 0;
    margin-left: -30px;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 0;
    margin-left: -30px;
  }
  100% {
    opacity: 1;
  }
}

.wrapper .shadow2 img {
  position: relative;
  width: 265px;
  height: 330px;
  z-index: 9;
}

.toggleNav {
  display: none;
}

@media only screen and (min-width: 320px) and (max-width: 1024px) {
  .main-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section {
    min-height: 950px;
    width: 100vw;
  }
  .section .one {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr;
        grid-template-columns: 2fr;
  }
  .section .one .corner {
    display: none;
  }
  .section .one .font-align {
    width: 100vw;
    margin-top: 55px;
  }
  .section .one .font-align .textone {
    text-align: center;
    margin-top: 30px;
    margin-left: 7%;
  }
  .section .one .font-align .textwo {
    margin-top: 30px;
    margin-left: 1%;
  }
  .section .one .font-align .text2 {
    text-align: center;
    margin-left: 7%;
  }
  .section .one .font-align .text2 .textwo_below {
    font-family: 'Pyidaungsu', sans-serif;
    color: #4a8fe1;
    font-size: 15px;
    margin-left: 21%;
  }
  .section .one .wrapper {
    padding-top: 40px;
  }
  .section .one .wrapper .shadow1 img {
    margin-top: 50px;
    width: 255px;
    height: 265px;
  }
  .section .one .wrapper .shadow2 img {
    position: relative;
    width: 255px;
    height: 330px;
    z-index: 9;
  }
  .section .one .wrapper .shadow3 img {
    margin-top: 50px;
    width: 255px;
    height: 265px;
  }
  .section .count {
    position: absolute;
    margin-top: 677px;
    margin-left: 33%;
  }
  .section .count .numcount .verticals {
    border-right: none;
  }
  .section .count .numcount .verticals .num {
    font-size: x-large;
    font-weight: lighter;
    width: 150px;
  }
  .section .count .numcount .verticals span {
    text-align: right;
  }
  .section .count .numcount span {
    font-size: 12px;
  }
  .section .stores {
    margin-left: 25%;
    margin-top: -30px;
  }
  .toggleNav {
    display: block;
  }
  .nav ul {
    display: none;
  }
  .nav ul li .close {
    width: 15px;
    height: 15px;
    position: absolute;
    z-index: 2;
    margin-top: 20px;
    margin-left: 325px;
  }
}

.section2 {
  font-family: 'Roboto', sans-serif;
  position: relative;
  z-index: 5;
  min-height: 100vh;
  overflow: hidden;
}

.section2 .two {
  position: relative;
  margin-top: 20px;
  z-index: 8;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
  background: #EEF3FF;
  margin-left: -12px;
  height: 600px;
}

.section2 .two .border {
  margin-top: 100px;
  margin-bottom: 60px;
  border: solid 3px #5b8edc;
  max-width: 780px;
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
}

.section2 .two .border .description {
  font-family: 'Pyidaungsu', sans-serif;
  line-height: 40px;
  padding-left: 35px;
  padding-right: 40px;
  font-weight: lighter;
}

.section2 .two .border .description p {
  color: black;
  font-weight: lighter;
}

.section2 .two .border .description span {
  color: #5190DE;
  padding-right: 5px;
}

.section2 .two .border .description .map {
  color: #679a48;
}

.section2 .two .border h1 {
  color: #3D3D3D;
  margin-left: -65px;
  margin-right: 566px;
  font-size: 45px;
  padding: 2px;
  height: 60px;
  font-weight: 700px;
  margin-top: 60px;
  background: #EEF3FF;
}

.section2 .two .soup {
  margin-top: 250px;
}

.section2 .two .soup > img {
  width: 240px;
  position: absolute;
  height: 260px;
  margin-left: -68px;
}

.section2 .two .pan {
  margin-top: 180px;
  position: absolute;
  margin-left: 50px;
}

.section2 .two .pan > img {
  width: 100px;
  height: 100px;
  position: relative;
  padding-top: 116px;
  z-index: 2;
  -webkit-transform: translateX(1113px);
          transform: translateX(1113px);
}

.section2 .two .pizza {
  position: absolute;
  margin-top: 30px;
  margin-left: 300px;
  height: 250px;
}

.section2 .two .pizza > img {
  position: absolute;
  z-index: 5;
  width: 150px;
  height: 150px;
  margin-left: -30px;
}

.section2 .two .icon1 {
  position: absolute;
}

.section2 .two .icon1 > img {
  width: 30px;
  height: 30px;
  margin-top: 15px;
  margin-left: 25px;
}

.section2 .two .icon2 {
  position: absolute;
}

.section2 .two .icon2 > img {
  width: 30px;
  height: 30px;
  margin-top: 15px;
  margin-left: 400px;
}

.section2 .two .icon3 {
  position: absolute;
}

.section2 .two .icon3 > img {
  width: 30px;
  height: 30px;
  margin-top: 22px;
  -webkit-transform: translateX(700px);
          transform: translateX(700px);
}

.section2 .two .icon4 {
  position: absolute;
}

.section2 .two .icon4 > img {
  width: 30px;
  height: 30px;
  margin-top: 50px;
  -webkit-transform: translateX(1000px);
          transform: translateX(1000px);
}

.section2 .two .icon5 {
  position: absolute;
}

.section2 .two .icon5 > img {
  width: 30px;
  height: 30px;
  margin-top: 18px;
  -webkit-transform: translateX(1150px);
          transform: translateX(1150px);
}

.section2 .two .icon6 {
  position: absolute;
}

.section2 .two .icon6 > img {
  width: 30px;
  height: 30px;
  margin-top: 200px;
  margin-left: 50px;
}

.section2 .two .icon7 {
  position: absolute;
}

.section2 .two .icon7 > img {
  width: 30px;
  height: 30px;
  margin-top: 220px;
  margin-left: 200px;
}

.section2 .two .icon8 {
  position: absolute;
}

.section2 .two .icon8 > img {
  width: 30px;
  height: 30px;
  margin-top: 350px;
  -webkit-transform: translateX(350px);
          transform: translateX(350px);
}

.section2 .two .icon9 {
  position: absolute;
}

.section2 .two .icon9 > img {
  width: 30px;
  height: 30px;
  margin-top: 500px;
  -webkit-transform: translateX(330px);
          transform: translateX(330px);
}

.section2 .two .icon10 {
  position: absolute;
}

.section2 .two .icon10 > img {
  width: 30px;
  height: 30px;
  margin-top: 140px;
  -webkit-transform: translateX(1100px);
          transform: translateX(1100px);
}

.section2 .two .icon11 {
  position: absolute;
}

.section2 .two .icon11 > img {
  width: 30px;
  height: 30px;
  margin-top: 145px;
  -webkit-transform: translateX(800px);
          transform: translateX(800px);
}

.section2 .two .icon12 {
  position: absolute;
}

.section2 .two .icon12 > img {
  width: 30px;
  height: 30px;
  margin-top: 500px;
  -webkit-transform: translateX(730px);
          transform: translateX(730px);
}

.section2 .two .icon13 {
  position: absolute;
}

.section2 .two .icon13 > img {
  width: 30px;
  height: 30px;
  margin-top: 500px;
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}

@media only screen and (min-width: 320px) and (max-width: 1024px) {
  .section2 {
    margin-top: 50px;
    width: 100vw;
  }
  .section2 .two {
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr;
        grid-template-columns: 3fr;
    z-index: 5;
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
    background: #EEF3FF;
    height: 780px;
  }
  .section2 .two .pizza .piz {
    position: absolute;
    z-index: 5;
    margin-top: -74px;
    width: 100px;
    height: 100px;
    margin-left: -15em;
  }
  .section2 .two .border {
    margin-top: -170px;
    border: 3px solid #6b8aff;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: 77vw;
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
    margin-right: 200px;
    margin-left: 62px;
  }
  .section2 .two .border h1 {
    color: #3D3D3D;
    margin-left: 65px;
    margin-right: 566px;
    font-size: 45px;
    padding: 2px;
    height: 60px;
    font-weight: bolder;
    margin-top: -100px;
    background: #EEF3FF;
  }
  .section2 .two .border .description {
    padding: 30px;
    padding-top: 20px;
    line-height: 30px;
    padding-left: 35px;
    color: #757575;
  }
  .section2 .two .soup > img {
    width: 188px;
    position: absolute;
    height: 183px;
    margin-left: -79px;
    z-index: 5;
  }
  .section2 .two .pan {
    margin-top: -60px;
    position: absolute;
  }
  .section2 .two .pan > img {
    width: 85px;
    height: 85px;
    position: relative;
    z-index: 2;
    -webkit-transform: translateX(85vw);
            transform: translateX(85vw);
  }
}

.three {
  position: relative;
  background: white;
  min-height: 100%;
  height: 850px;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 20px;
}

.three .next-btn {
  position: absolute;
  margin-top: -95px;
  text-align: center;
  margin-left: -50px;
  bottom: 0;
}

.three .one_col .ani_button .btn1 {
  margin-top: 170px;
  margin-left: 500px;
  background: #4E9533;
}

.three .one_col .ani_button .btn2 {
  margin-top: 230px;
  margin-left: 110px;
  background: #E49C3D;
}

.three .one_col .ani_button .btn3 {
  margin-top: 290px;
  margin-left: 350px;
  background: #E4513D;
}

.three .one_col .ani_button .btn4 {
  margin-top: 350px;
  margin-left: 110px;
  background: transparent;
}

.three .one_col .ani_button .btn5 {
  margin-top: 410px;
  margin-left: 510px;
  background: #39B5D0;
  position: absolute;
  z-index: 5;
}

.three .one_col .ani_button .btn6 {
  margin-top: 470px;
  margin-left: 230px;
  background: #87be51;
}

.three .one_col .ani_button .btn6 p {
  margin-top: 1px;
}

.three .one_col .ani_button .btn7 {
  margin-top: 540px;
  margin-left: 420px;
  background: transparent;
}

.three .one_col .ani_button .btn8 {
  margin-top: 590px;
  margin-left: 120px;
  background: transparent;
}

.three .one_col .corner1 {
  margin-left: -30px;
  margin-top: 597px;
  width: 150px;
  height: 230px;
  background: #DFE4FD;
  border-radius: 0px 130px 130px 0px;
  position: absolute;
  z-index: 10;
}

.three .one_col .corner1 img {
  width: 150px;
  height: 100px;
  position: relative;
  margin-left: -90px;
  margin-top: 142px;
}

.three .two_col .rotate-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  background: transparent;
}

.three .two_col .rotate-img .phimg {
  margin-top: 330px;
  height: 680px;
  position: absolute;
  margin-left: 470px;
  z-index: 2;
}

.three .three_col .upper {
  width: 130px;
  height: 90px;
  position: absolute;
  right: 0;
  top: 0;
}

.three .three_col .upper .back-img {
  position: relative;
  width: 130px;
  height: 90px;
}

.three .three_col .middle_one {
  position: absolute;
  right: 40px;
  width: 80;
  height: 60px;
  margin-top: 340px;
}

.three .three_col .middle_one .fruit {
  width: 50px;
  height: 50px;
}

.three .three_col .middle_two {
  width: 285px;
  height: 150px;
  right: 35px;
  position: absolute;
  margin-top: 490px;
  z-index: 5;
}

.three .three_col .middle_two figure {
  text-align: center;
  font-size: 15px;
  font-family: Helvetica;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 6;
  letter-spacing: normal;
  text-align: center;
  color: #5c5c5c;
}

.three .three_col .middle_two figure .search {
  width: 50px;
  height: 50px;
}

.three .three_col .foo {
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 35px;
  right: 0;
}

.three .three_col .foo .right-corner {
  position: relative;
  z-index: 3;
  width: 200px;
  height: 250px;
  right: -80px;
  background: #DFE4FD;
  border-radius: 74% 25% 95% 48% / 95% 0% 100% 48%;
}

.three .three_col .foo .right-corner img {
  height: 150px;
  margin-top: 70px;
  margin-left: 40px;
  -webkit-transform: rotate(18deg);
          transform: rotate(18deg);
}

.three .largescale {
  -webkit-animation-name: changescale;
          animation-name: changescale;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes changescale {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes changescale {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@media only screen and (min-width: 414px) and (max-width: 768px) {
  .three {
    width: 100vw;
    height: 900px;
  }
  .three p {
    margin: 0 auto;
  }
  .three .column_three {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0 auto;
  }
  .three .column_three .one_col {
    margin: 0 auto;
    z-index: 5;
  }
  .three .column_three .one_col .ani_button {
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 40px;
  }
  .three .column_three .one_col .ani_button .btn1 {
    margin-left: 45vw;
    margin-top: 170px;
    position: relative;
    width: 160px;
  }
  .three .column_three .one_col .ani_button .btn1:after {
    content: "\f00c";
    font-family: Fontawesome;
    color: white;
    padding: 8px;
    font-size: 15px;
    position: absolute;
    border: 4px solid white;
    border-radius: 50%;
    width: 10%;
    height: 35%;
    background: #5B8EDC;
    margin-left: 50px;
    margin-top: -30px;
  }
  .three .column_three .one_col .ani_button .btn2 {
    margin-left: 10vw;
    margin-top: -20px;
    width: 140px;
    position: relative;
  }
  .three .column_three .one_col .ani_button .btn2:after {
    content: "\f00c";
    font-family: Fontawesome;
    color: white;
    padding: 8px;
    font-size: 15px;
    position: absolute;
    border: 4px solid white;
    border-radius: 50%;
    width: 10%;
    height: 35%;
    background: #5B8EDC;
    margin-top: -22px;
    margin-left: 50px;
  }
  .three .column_three .one_col .ani_button .btn3 {
    position: relative;
    margin-left: 40vw;
    margin-top: -20px;
    width: 150px;
  }
  .three .column_three .one_col .ani_button .btn3:after {
    content: "\f00c";
    font-family: Fontawesome;
    color: white;
    padding: 8px;
    font-size: 15px;
    position: absolute;
    border: 4px solid white;
    border-radius: 50%;
    width: 10%;
    height: 35%;
    background: #5B8EDC;
    margin-top: -25px;
    margin-left: 50px;
  }
  .three .column_three .one_col .ani_button .btn8 {
    position: relative;
    border: 2px solid powderblue;
    margin-left: 30vw;
    margin-top: -30px;
    width: 170px;
  }
  .three .column_three .one_col .ani_button .btn6 {
    margin-left: 45vw;
    margin-top: -20px;
    width: 170px;
    position: relative;
  }
  .three .column_three .one_col .ani_button .btn6:after {
    content: "\f00c";
    font-family: Fontawesome;
    color: white;
    padding: 8px;
    font-size: 16px;
    position: absolute;
    border: 4px solid white;
    border-radius: 50%;
    width: 10%;
    height: 35%;
    background: #5B8EDC;
    margin-top: -40px;
    margin-left: 60px;
  }
  .three .column_three .one_col .ani_button .btn5 {
    position: relative;
    width: 160px;
    margin-left: 10vw;
    margin-top: -30px;
  }
  .three .column_three .one_col .ani_button .btn5:after {
    content: "\f00c";
    font-family: Fontawesome;
    color: white;
    padding: 8px;
    font-size: 15px;
    position: absolute;
    border: 4px solid white;
    border-radius: 50%;
    width: 10%;
    height: 35%;
    background: #5B8EDC;
    margin-top: -20px;
    margin-left: 60px;
  }
  .three .column_three .one_col .ani_button .btn7 {
    position: relative;
    border: 2px solid powderblue;
    margin-left: -10vw;
    margin-top: -35px;
    width: 170px;
  }
  .three .column_three .one_col .ani_button .btn4 {
    margin-left: 55vw;
    margin-top: -20px;
    border: 2px solid powderblue;
    position: relative;
    width: 120px;
  }
  .three .column_three .one_col .corner1 {
    background: transparent;
    margin-left: -20vw;
  }
  .three .column_three .one_col .corner1 img {
    margin-left: -120px;
    margin-top: 0px;
  }
  .three .column_three .two_col {
    margin: 0 auto;
  }
  .three .column_three .two_col .rotate-img {
    margin: 0 auto;
  }
  .three .column_three .two_col .rotate-img .phimg {
    margin-top: 115vh;
    height: 450px;
    position: absolute;
    margin-left: 0;
    z-index: 2;
  }
  .three .column_three .three_col .upper {
    display: none;
  }
  .three .column_three .three_col .middle_one {
    display: none;
  }
  .three .column_three .three_col .middle_two {
    margin-top: 8vh;
    position: relative;
    margin: 0 auto;
  }
  .three .column_three .three_col .foo {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    position: relative;
    bottom: 35px;
    top: -92px;
    right: 0;
  }
  .three .column_three .three_col .foo .right-corner {
    background: transparent;
    position: relative;
    z-index: 3;
    width: 200px;
    height: 250px;
    right: 0;
  }
  .three .column_three .three_col .foo .right-corner img {
    height: 150px;
    margin-top: 70px;
    margin-left: 55vw;
  }
  .three .next-btn {
    position: absolute;
    text-align: center;
    margin-top: 0px;
  }
}

.four {
  position: relative;
  background: white;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.four .btn {
  margin-top: 30px;
}

.four .add_ani {
  width: 100%;
  height: 270px;
  margin: 0;
  top: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 3fr 3fr;
      grid-template-columns: 3fr 3fr 3fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0px;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.four .add_ani .three_one {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 1fr;
      grid-template-columns: 1.5fr 1fr;
  margin-left: 110px;
  margin-top: 60px;
  border: 0px;
}

.four .add_ani .three_two {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 1fr;
      grid-template-columns: 1.5fr 1fr;
  margin-left: 75px;
  margin-top: 60px;
  border: 0px;
}

.four .add_ani .three_three {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 1fr;
      grid-template-columns: 1.5fr 1fr;
  margin-left: 40px;
  margin-top: 60px;
  border: 0px;
}

.four .meal {
  width: 100vw;
  height: 50px;
  position: relative;
}

.four .meal img {
  position: absolute;
  width: 90px;
  height: 80px;
  right: 260px;
  top: 75px;
}

.four .meal button {
  position: absolute;
  margin-left: 550px;
  left: 0;
  top: 0;
  margin-top: 30px;
  color: #5190DE;
  width: 250px;
  height: 40px;
  border: 0px;
  border: 1px solid #5190DE;
  background: white;
}

.four .meal .fa-long-arrow-right {
  margin-left: 20px;
}

.four .slidescale {
  -webkit-animation-name: fourslide;
          animation-name: fourslide;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-iteration-count: initial;
          animation-iteration-count: initial;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fourslide {
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    padding: -50px;
  }
}

@keyframes fourslide {
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    padding: -50px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 414px) {
  .four {
    width: 100%;
    position: relative;
  }
  .four .add_ani {
    position: relative;
    margin-left: 0px;
    height: 300px;
    left: 0;
    margin: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: auto;
    width: auto;
  }
  .four .add_ani .three_one {
    position: absolute;
    left: 0;
    margin-left: 10px;
  }
  .four .add_ani .three_two {
    position: absolute;
    margin-left: 345px;
    left: 0;
  }
  .four .add_ani .three_three {
    position: absolute;
    margin-left: 680px;
    left: 0;
  }
  .four .meal {
    display: none;
  }
}

@media only screen and (min-width: 414px) and (max-width: 768px) {
  .four {
    width: 100%;
    position: relative;
  }
  .four .add_ani {
    position: relative;
    left: 0;
    margin: 0;
    height: 300px;
    margin-left: 0px;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: auto;
    width: auto;
  }
  .four .add_ani .three_one {
    position: absolute;
    left: 0;
    margin-left: 30px;
  }
  .four .add_ani .three_two {
    position: absolute;
    margin-left: 370px;
    left: 0;
  }
  .four .add_ani .three_three {
    position: absolute;
    margin-left: 710px;
    left: 0;
  }
  .four .meal {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .four {
    width: 100%;
    position: relative;
  }
  .four .add_ani {
    position: relative;
    margin-left: 0px;
    height: 300px;
    left: 0;
    margin: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: auto;
    width: auto;
  }
  .four .add_ani .three_one {
    position: absolute;
    left: 0;
    margin-left: 60px;
  }
  .four .add_ani .three_two {
    position: absolute;
    margin-left: 410px;
    left: 0;
  }
  .four .add_ani .three_three {
    position: absolute;
    margin-left: 755px;
    left: 0;
  }
  .four .meal img {
    right: 80;
  }
}

.five {
  position: relative;
  min-height: 100%;
  background: white;
  margin-top: -200px;
  width: 100%;
}

.five .line {
  width: 600px;
  height: 450px;
  border: 1px solid #5190DE;
  margin-left: 140px;
}

.five .line .up-to-date {
  width: 350px;
  height: 190px;
  background: white;
  border: 0px;
  position: static;
  z-index: 5;
  margin-top: 135px;
}

.five .line .up-to-date .text-opacity {
  position: absolute;
  width: 450px;
  height: 200px;
  margin-top: 70px;
  background: white;
  margin-left: -140px;
}

.five .line .up-to-date .text-opacity .read-update {
  font-family: AvenirNext;
  font-size: 26px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3e3e3e;
  margin-left: 88px;
}

.five .line .up-to-date .text-opacity .read-update span {
  font-family: AvenirNext;
  font-size: 26px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3e3e3e;
  margin-left: 0px;
}

.five .line .up-to-date .text-opacity .read-and-get {
  font-family: AvenirNext;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3e3e3e;
  margin-left: 88px;
}

.five .line .up-to-date .slide_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 350px;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 1125px;
  position: static;
  z-index: 1;
  margin-left: 15px;
  margin-top: -80px;
  min-width: 750px;
  max-height: 500px;
  background: transparent;
}

.five .line .up-to-date .slide_group .card {
  -webkit-transform: translateX(420px);
          transform: translateX(420px);
}

.five .line .up-to-date .slide_group .card span {
  font-family: Helvetica;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.five .line .up-to-date .slide_group .card .fa-heart {
  font-family: "Font Awesome 5 Free";
  font-size: 20px;
  position: relative;
  float: right;
  margin-top: -40px;
  margin-right: 20px;
  color: white;
  opacity: 2.5;
}

.five .line .up-to-date .slide_group .card_1 {
  -webkit-transform: translateX(450px);
          transform: translateX(450px);
}

.five .line .up-to-date .slide_group .card_1 span {
  font-family: Helvetica;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.five .line .up-to-date .slide_group .card_1 .fa-heart {
  font-family: "Font Awesome 5 Free";
  font-size: 20px;
  position: relative;
  float: right;
  margin-top: -40px;
  margin-right: 20px;
  color: white;
  opacity: 2.5;
}

.five .line .up-to-date .slide_group .card_2 {
  -webkit-transform: translateX(480px);
          transform: translateX(480px);
}

.five .line .up-to-date .slide_group .card_2 span {
  font-family: Helvetica;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.five .line .up-to-date .slide_group .card_2 .fa-heart {
  font-family: "Font Awesome 5 Free";
  font-size: 20px;
  position: relative;
  float: right;
  margin-top: -40px;
  margin-right: 20px;
  color: white;
  opacity: 2.5;
}

.five .line .up-to-date .slide_group.active {
  cursor: grabbing;
  position: relative;
  z-index: 10;
  cursor: -webkit-grabbing;
}

.five .line .up-to-date .slide_group.active .card {
  -webkit-transform: translate(100px);
          transform: translate(100px);
}

.five .line .up-to-date .slide_group.active .card_1 {
  -webkit-transform: translate(130px);
          transform: translate(130px);
}

.five .line .up-to-date .slide_group.active .card_2 {
  -webkit-transform: translate(160px);
          transform: translate(160px);
}

@media only screen and (min-width: 414px) and (max-width: 1024px) {
  .five {
    position: relative;
  }
  .five .line {
    border: 0px;
    width: 100%;
    margin-left: 0px;
  }
  .five .line .up-to-date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100vw;
    margin: 0 auto;
  }
  .five .line .up-to-date .text-opacity {
    position: relative;
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    bottom: 15;
  }
  .five .line .up-to-date .text-opacity p {
    margin: 0 auto;
    text-align: center;
  }
  .five .line .up-to-date .text-opacity p span {
    margin-left: 0px;
  }
  .five .line .up-to-date .text-opacity .read-update {
    margin-left: 0px;
  }
  .five .line .up-to-date .text-opacity .read-and-get {
    margin-left: 0px;
  }
  .five .line .up-to-date .slide_group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: auto;
    width: 100%;
    min-width: 0px;
  }
  .five .line .up-to-date .slide_group .card {
    -webkit-transform: translate(0px);
            transform: translate(0px);
    margin-left: 0px;
  }
  .five .line .up-to-date .slide_group .card_1 {
    margin-left: 20px;
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
  .five .line .up-to-date .slide_group .card_2 {
    margin-left: 20px;
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

.six {
  position: relative;
  min-height: 100%;
  background: white;
  margin-top: -100px;
}

.six .rotate-img {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 3fr;
      grid-template-columns: 3fr 3fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 10%;
}

.six .rotate-img .rotation figure {
  margin-top: -45%;
  margin-left: 70px;
  text-align: center;
}

.six .rotate-img .rotation figure img {
  position: relative;
  width: 120px;
  height: 150px;
}

.six .rotate-img .rotation .circle {
  width: 430px;
  height: 430px;
  border: 2px dashed #BFBFBF;
  border-radius: 50%;
  margin-left: 120px;
  margin-top: -100px;
}

.six .rotate-img .rotation .circle img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
}

.six .rotate-img .rotation .circle .cir-img1 {
  margin-left: 105px;
  margin-top: -20px;
}

.six .rotate-img .rotation .circle .cir-img2 {
  margin-left: 300px;
}

.six .rotate-img .rotation .circle .cir-img3 {
  margin-top: 110px;
  margin-left: -10px;
}

.six .rotate-img .rotation .circle .cir-img4 {
  margin-top: 110px;
  margin-left: 385px;
}

.six .rotate-img .rotation .circle .cir-img5 {
  margin-top: 260px;
  margin-left: -12px;
}

.six .rotate-img .rotation .circle .cir-img6 {
  margin-top: 260px;
  margin-left: 390px;
}

.six .rotate-img .rotation .circle .cir-img7 {
  margin-top: 390px;
  margin-left: 105px;
}

.six .rotate-img .rotation .circle .cir-img8 {
  margin-top: 385px;
  margin-left: 300px;
}

.six .rotate-img .fb-snap {
  margin-left: 50px;
  margin-top: -100px;
}

.six .rotate-img .fb-snap .space {
  height: 300px;
  border: 0px dashed #BFBFBF;
}

.six .rotate-img .fb-snap .fb_text {
  width: 80%;
  position: relative;
  height: 45px;
}

.six .rotate-img .fb-snap .fb_text p {
  font-family: Helvetica;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #a3a3a3;
  position: absolute;
  right: 0;
}

.six .rotate-img .fb-snap .fb_download {
  position: relative;
  width: 80%;
  height: 100px;
}

.six .rotate-img .fb-snap .fb_download a {
  text-decoration: none;
}

.six .rotate-img .fb-snap .fb_download a img {
  width: 180px;
  height: 80px;
  margin-left: 55px;
}

.six .rotate-img .fb-snap .fb_download a .playstore {
  width: 150px;
  height: 50px;
  margin-top: 15px;
  position: absolute;
}

.footer {
  background: #2F313D;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr 1fr 2fr;
      grid-template-columns: 2fr 2fr 1fr 2fr;
  margin-top: 30px;
  color: white;
  height: 315px;
}

.footer .fungry_logo {
  padding-top: 70px;
  padding-left: 70px;
  height: 222px;
}

.footer .fungry_logo img {
  width: 75px;
  height: 75px;
  border-radius: 5px;
}

.footer .fungry_logo .fun_text {
  margin-top: 21px;
  left: 160px;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #bfbfbf;
  position: absolute;
}

.footer .fungry_logo p {
  margin-top: 100px;
  color: #6b8aff;
  height: 20px;
  line-height: 1.5;
  font-size: 12px;
}

.footer .fungry_logo span {
  font-size: 12px;
  line-height: 8;
  color: #BFBFBF;
}

.footer .address {
  padding-top: 70px;
  color: #6b8aff;
}

.footer .address p {
  margin-top: 40px;
  font-size: 12px;
  margin-left: 35px;
}

.footer .menu li .half-line {
  content: "";
  /* This is necessary for the pseudo element to work. */
  display: block;
  /* This will put the pseudo element on its own line. */
  margin: 0 auto;
  /* This will center the border. */
  width: 10%;
  /* Change this to whatever width you want. */
  padding-top: 0px;
  /* This creates some space between the element and the border. */
  border-bottom: 3px solid #6b8aff;
  /* This creates the border. Replace black with whatever color you want. */
  margin-left: -2px;
}

.footer .help li .half-line1 {
  content: "";
  /* This is necessary for the pseudo element to work. */
  display: block;
  /* This will put the pseudo element on its own line. */
  margin: 0 auto;
  /* This will center the border. */
  width: 5%;
  /* Change this to whatever width you want. */
  padding-top: 0px;
  /* This creates some space between the element and the border. */
  border-bottom: 3px solid #6b8aff;
  /* This creates the border. Replace black with whatever color you want. */
  margin-left: -2px;
}

.footer .social-media {
  width: 80%;
  margin-top: -20px;
}

.footer .social-media ul {
  overflow: auto;
  margin-left: 150px;
}

.footer .social-media ul li {
  list-style-type: none;
  float: left;
}

.footer .social-media ul li a i {
  background: transparent;
  color: #BFBFBF;
  width: 15px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid white;
  font-size: 10px;
  text-align: center;
  margin-right: 10px;
  padding-top: 20%;
}

.footer .social-media ul li a .fa-instagram {
  border: 0px;
  font-size: 18px;
  margin-top: 5px;
}

.footer .social-media ul li a .fa-envelope {
  border: 0px;
  font-size: 18px;
  margin-top: 5px;
}

@media only screen and (min-width: 414px) and (max-width: 1024px) {
  .six {
    position: relative;
    width: 100%;
    margin-top: 100px;
  }
  .six .rotate-img {
    position: relative;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 140px;
    height: 500px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  .six .rotate-img .rotation {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }
  .six .rotate-img .rotation .circle {
    position: relative;
    width: 300px;
    height: 300px;
    border: 2px dashed #BFBFBF;
    margin: 0 auto;
  }
  .six .rotate-img .rotation .circle .cir-img1 {
    margin-left: 60px;
    margin-top: -10px;
    left: 0;
    width: 40;
    height: 40;
  }
  .six .rotate-img .rotation .circle .cir-img2 {
    margin-left: 195px;
    margin-top: -5px;
    width: 40;
    height: 40;
  }
  .six .rotate-img .rotation .circle .cir-img3 {
    margin-top: 80px;
    margin-left: -10px;
    width: 40;
    height: 40;
  }
  .six .rotate-img .rotation .circle .cir-img4 {
    margin-top: 75px;
    margin-left: 270px;
    width: 40;
    height: 40;
  }
  .six .rotate-img .rotation .circle .cir-img5 {
    margin-top: 185px;
    margin-left: -12px;
    width: 40;
    height: 40;
  }
  .six .rotate-img .rotation .circle .cir-img6 {
    margin-top: 180px;
    margin-left: 270px;
    width: 40;
    height: 40;
  }
  .six .rotate-img .rotation .circle .cir-img7 {
    margin-top: 265px;
    margin-left: 65px;
    width: 40;
    height: 40;
  }
  .six .rotate-img .rotation .circle .cir-img8 {
    margin-top: 270px;
    margin-left: 200px;
    width: 40;
    height: 40;
  }
  .six .rotate-img .rotation figure {
    position: relative;
    margin: 0 auto;
    text-align: center;
    bottom: 230px;
    margin-top: 0px;
    margin-left: 0px;
  }
  .six .rotate-img .rotation figure img {
    position: relative;
  }
  .six .rotate-img .rotation figure figcaption {
    position: relative;
  }
  .six .rotate-img .fb-snap {
    position: absolute;
    margin-left: 50px;
    margin-top: 450px;
    left: 0;
    top: 0;
    margin: 0 auto;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .six .rotate-img .fb-snap .space {
    margin-left: 100px;
  }
  .six .rotate-img .fb-snap .fb_text {
    width: 414px;
    position: absolute;
    text-align: center;
  }
  .six .rotate-img .fb-snap .fb_text p {
    font-size: 15px;
    right: 30px;
  }
  .six .rotate-img .fb-snap .fb_download {
    position: absolute;
    width: 0;
    margin-top: 40px;
  }
  .six .rotate-img .fb-snap .fb_download a {
    margin-left: 71px;
  }
  .six .rotate-img .fb-snap .fb_download a img {
    width: 250px;
    height: 105px;
    margin-left: 22px;
  }
  .six .rotate-img .fb-snap .fb_download a .playstore {
    width: 200px;
    height: 60px;
    margin-top: 15px;
    position: absolute;
    margin-left: 50px;
  }
  .six .rotate-img .fb-snap {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    margin-left: 0px;
    margin-top: 0px;
    width: 100%;
    margin: 0 auto;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .six .rotate-img .fb-snap .space {
    position: relative;
    margin: 0 auto;
  }
  .six .rotate-img .fb-snap .space #fb-root {
    width: 100%;
  }
  .six .rotate-img .fb-snap .fb_text {
    position: relative;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
  .six .rotate-img .fb-snap .fb_text p {
    right: 0px;
    position: relative;
  }
  .six .rotate-img .fb-snap .fb_download {
    position: relative;
    margin: 0 auto;
    margin-top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .six .rotate-img .fb-snap .fb_download a {
    margin-left: 0px;
  }
  .six .rotate-img .fb-snap .fb_download a img {
    margin-left: 0px;
    position: relative;
    margin: 0 auto;
  }
  .six .rotate-img .fb-snap .fb_download a .playstore {
    margin-top: 0px;
    margin-left: 0px;
    position: relative;
  }
  .six .footer {
    position: relative;
    background: #2F313D;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr;
        grid-template-columns: 2fr;
    margin-top: 320px;
    color: white;
    height: auto;
    width: 100%;
  }
  .six .footer .fungry_logo {
    padding-top: 70px;
    padding-left: 0px;
    height: 222px;
    margin: 0 auto;
    position: relative;
  }
  .six .footer .fungry_logo img {
    width: 110px;
    height: 100px;
    border-radius: 5px;
    position: absolute;
  }
  .six .footer .fungry_logo .fun_text {
    margin-top: 21px;
    left: 140px;
    font-size: 25px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #bfbfbf;
    position: absolute;
  }
  .six .footer .fungry_logo p {
    margin-top: 100px;
    color: #6b8aff;
    height: 20px;
    line-height: 1.5;
    font-size: 18px;
  }
  .six .footer .address {
    padding-left: 0;
    padding-top: 0;
    color: #6b8aff;
    position: relative;
    margin: 0 auto;
  }
  .six .footer .address p {
    margin-top: 40px;
    font-size: 15px;
    margin-left: 35px;
  }
  .six .footer .menu {
    position: relative;
    padding-top: 0;
    margin: 0 auto;
  }
  .six .footer .menu ul {
    text-align: center;
  }
  .six .footer .menu ul li .half-line {
    content: "";
    display: block;
    width: 50%;
    margin: 0 auto;
    border-bottom: 3px solid #6b8aff;
  }
  .six .footer .menu ul li a:first-child {
    color: #6b8aff;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
  }
  .six .footer .menu ul li:nth-child(1n+2) a {
    color: #BFBFBF;
    font-size: 12px;
    font-family: Helvetica;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
  }
  .six .footer .help {
    position: relative;
    margin: 0 auto;
  }
  .six .footer .help ul {
    text-align: center;
  }
  .six .footer .help ul li .half-line1 {
    content: "";
    display: block;
    margin: 0 auto;
    width: 15%;
    border-bottom: 3px solid #6b8aff;
  }
  .six .footer .help ul li a:first-child {
    color: #6b8aff;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
  }
  .six .footer .help ul li:nth-child(1n+2) a {
    color: #BFBFBF;
    font-size: 12px;
    font-family: Helvetica;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
  }
  .six .footer .social-media {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */