.five{
    position:relative;
    min-height:100%;
    background:white;
    margin-top:-200px;
    width:100%;
    
        .line{
            width:600px;
            height:450px;
            border:1px solid #5190DE;
            margin-left:140px;

            .up-to-date{
               
                width:350px;
                height:190px;
                background:white;
                border:0px;
                position:static;
                z-index:5;
               
                margin-top:135px;
                .text-opacity{
                    position: absolute;
                    width: 450px;
                    height: 200px;
                    margin-top: 70px;
                    background: white;
                    margin-left:-140px;
                   
                    .read-update{
                        font-family: AvenirNext;
                        font-size: 26px;
                        font-weight: bold;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        color: #3e3e3e;
                        margin-left:88px;
    
                        span{
                            font-family: AvenirNext;
                            font-size: 26px;
                            font-weight: bold;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: normal;
                            letter-spacing: normal;
                            color: #3e3e3e;
                            margin-left:0px;
                        }

                       
                    }

                    .read-and-get{
                        font-family: AvenirNext;
                        font-size: 13px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        color: #3e3e3e;
                        margin-left:88px;
                    }
    
                 
    
                }
    
                .slide_group{

                    display: flex;
                    flex-wrap: nowrap;
                    height: 400px;
                    overflow-x: hidden;
                    overflow-y:hidden;
                    width: 1190px;
                    position: static;
                    z-index: 1;
                    margin-left: 15px;
                    margin-top:-100px;
                    min-width:750px;
                    max-height:500px;
                    background:transparent;
            
                    .card {
                        @extend %scroll_group;
                       transform: translateX(420px);
            
                       
                           span{
                            font-family: Helvetica;
                            font-size: 20px;
                            font-weight: normal;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: normal;
                            letter-spacing: normal;
                            color: #ffffff;
                           }
                       
                        
                        .fa-heart{
                            font-family: "Font Awesome 5 Free";
                            font-size: 20px;
                            position: relative;
                            float: right;
                            margin-top: -40px;
                            margin-right: 20px;
                            color: white;
                            opacity:2.5;
                        }
                        @extend %background_cover_transparent;
                       @extend %card_text;
                      }
            
                      .card_1 {
                        @extend %scroll_group;
                        // margin-left:25px;
                        transform: translateX(450px);
            
                        span{
                            font-family: Helvetica;
                            font-size: 20px;
                            font-weight: normal;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: normal;
                            letter-spacing: normal;
                            color: #ffffff;
                           }
                       
            
                        .fa-heart{
                            font-family: "Font Awesome 5 Free";
                            font-size: 20px;
                            position: relative;
                            float: right;
                            margin-top: -40px;
                            margin-right: 20px;
                            color: white;
                            opacity:2.5;
                        }
            
                       @extend %background_cover_transparent;
                       
                       @extend %card_text;
                      }
            
                      .card_2 {
                        @extend %scroll_group;
                        // margin-left:20px;
                        transform: translateX(480px);
            
                        span{
                            font-family: Helvetica;
                            font-size: 20px;
                            font-weight: normal;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: normal;
                            letter-spacing: normal;
                            color: #ffffff;
                           }
                       
            
                        .fa-heart{
                            font-family: "Font Awesome 5 Free";
                            font-size: 20px;
                            position: relative;
                            float: right;
                            margin-top: -40px;
                            margin-right: 20px;
                            color: white;
                            opacity:2.5;
                        }
            
                        @extend %background_cover_transparent;
                        
                       @extend %card_text;
                      }
                      
                  
                }
    
                .slide_group.active{
                    cursor:grabbing;
                    position:relative;
                    z-index:10;
                    cursor:-webkit-grabbing;
                    
                    .card{
                        transform:translate(100px);
                    }

                    .card_1{
                        transform:translate(130px);
                    }

                    .card_2{
                        transform:translate(160px);
                    }
                   
                }
            }
        }

}

@media only screen and (min-width:320px) and (max-width:768px){
    .five{
        width:100vw;
        margin-top:-150px;
        .line{
            border:0px;
            margin:0 auto;
            width:100%;
            margin-left:0;

            .up-to-date{
                margin: 0 auto;
                position: relative;
                display: grid;
                grid-template-columns: 3fr;
                width: 100vw;
                margin-left: 0;

                .text-opacity{
                    position: relative;
                    width: 100vw;
                    height:10em;
                    text-align: center;
                    margin-top:0px;
                    margin-left:0px;

                    .read-update{
                        margin-left:0px;
                        margin:0 auto;
                    }

                    .read-and-get{
                        margin-left:0px;
                        margin:0 auto;
                    }
                }

                .slide_group{
                    position: relative;
                    margin: 0 auto;
                    width: 100vw;
                    grid-row: 2;
                    min-width: 0px;
                    overflow-x:auto;

                    .card{
                        height:370px;
                        transform:translate(10vw);
                    }

                    .card_1{
                        height:370px;
                        transform:translate(20vw);
                    }

                    .card_2{
                        height:370px;
                        transform:translate(30vw);
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:768px) and (max-width:1349px){
    .five{
        width:100vw;

        .line{
            width:70vw;
            .up-to-date{
                .text-opacity{
                    position:relative;
                }
                .slide_group{
                    position: relative;
                    margin: -300 auto 0 140px;
                    width: 65vw;
                    grid-row: 2;
                    min-width: 0px;
                    overflow-x:auto;

                    .card{
                        height:370px;
                        transform: translateX(200px);
                    }

                    .card_1{
                        height:370px;
                        transform: translateX(220px);
                    }

                    .card_2{
                        height:370px;
                        transform: translateX(240px);
                    }
                }
            }
        }
    }
}