.six{
    position:relative;
    min-height:100%;
    background:white;
    margin-top:-100px;
    
    .rotate-img{
        display:grid;
        grid-template-columns: 3fr 3fr;
        justify-content: center;
        align-content: center;
        margin-top:10%;
        .rotation{
            figure{
                margin-top:-45%;
                margin-left: 70px;
                text-align:center;
                img{
                    position:relative;
                    width:120px;
                    height:150px;
                }
            }

            
        .circle{
            width:430px;
            height:430px;
            border:2px dashed #BFBFBF;
            border-radius: 50%;
            margin-left:120px;
            margin-top:-100px;
           // transform:rotate(45deg);

            img{
                width:50px;
                height:50px;
                border-radius:50%;
                position:absolute;
            }

            .cir-img1{
                margin-left:105px;
                margin-top:-20px;
            }

            .cir-img2{
                margin-left: 300px;
            }
            .cir-img3{
                margin-top: 110px;
                margin-left: -10px;
            }

            .cir-img4{
                margin-top: 110px;
                margin-left: 385px;
            }

            .cir-img5{
                margin-top: 260px;
                margin-left: -12px;
            }

            .cir-img6{
                margin-top: 260px;
                margin-left: 390px;
            }
            
            .cir-img7{
                margin-top: 390px;
                margin-left: 105px;
            }

            .cir-img8{
                margin-top: 385px;
                margin-left: 300px;
            }

           
        }
        }


        

        .fb-snap{
            margin-left:50px;
            margin-top:-100px;
            .space{
                //@at-rootwidth:500px;
                 height:300px;
                border:0px dashed #BFBFBF;
            
                    .fb-page{
                        position:absolute;
                        
                        span{
                            
                            iframe{
                                width:50vw;
                                display:block;
                                margin:0 auto;
                            }
                        }

                    }
            
            }

           .fb_text{
            // width: 100%;
            position: relative;
            height: 45px;

            text-align: center;
            
            p{
                font-family: Helvetica;
                font-size: 18px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #a3a3a3;
                position: absolute;
                padding-left:2em;
            }
           }

           .fb_download{

            position: relative;
            // width: 80%;
            height: 100px;
            a{
                text-decoration:none;
                img{
                    width: 180px;
                    height: 80px;
                    margin-left: 55px;
                }

                .playstore{
                    width: 150px;
                    height: 50px;
                    margin-top: 15px;
                    position: absolute;
                }
           }
            }
        }

        
    }
   
}

.footer{
    background:#2F313D;
    display:grid;
    grid-template-columns:2fr 2fr 1fr 2fr;
    
    margin-top:30px;
    color:white;
    height:auto;
   .fungry_logo{
    .footer_logo{
        padding-top:70px;
        padding-left:70px;
        height:222px;
        img{
            width:75px;
            height:75px;
            border-radius:5px;
        }
 
        
         .fun_text{
             margin-top: 21px;
             left: 160px;
             font-size: 20px;
             font-weight: normal;
             font-stretch: normal;
             font-style: normal;
             line-height: normal;
             letter-spacing: normal;
             color: #bfbfbf;
             position: absolute;
         }
 
         p{
             margin-top: 100px;
             color:$footer_colo_text_color;
             height: 20px;
             line-height: 1.5;
             font-size:$footer_font_size;
         }
 
         span{
             font-size:$footer_font_size;
             line-height: 8;
             color:$footer_normal_text;
         }
        
    }
   }

   .address{
       padding-top:70px;
       color:$footer_colo_text_color;
       p{
           margin-top:40px;
           font-size:$footer_font_size;
           margin-left:35px;
       }
   }

   .menu{
      @extend %footer_menu;
      li .half-line{
             
        content: ""; 
        display: block;
        margin: 0 auto; 
        width: 10%; 
        padding-top: 0px; 
        border-bottom: 3px solid $footer_colo_text_color; 
        margin-left:-2px;
    }
   }

   .help{
        @extend %footer_menu;
        li .half-line1{
             
            content: ""; 
            display: block;
            margin: 0 auto; 
            width: 5%; 
            padding-top: 0px; 
            border-bottom: 3px solid $footer_colo_text_color; 
            margin-left:-2px;
        }
    }

        .social-media{
            width: 80%;
            margin-top: -20px;
            ul{
                overflow:auto;
                margin-left:150px;
                li{
                    list-style-type: none;
                    float:left;

                    a i{
                        background:transparent;
                        color: $footer_normal_text;
                        width : 15px;
                        height: 10px;
                        border-radius: 50%;
                        border:1px solid white;
                        font-size: 10px;
                        text-align: center;
                        margin-right: 10px;
                        padding-top:20%;
                    }

                    a .fa-instagram{
                        border:0px;
                        font-size:18px;
                        margin-top:5px;
                    }

                    a .fa-envelope{
                        border:0px;
                        font-size:18px;
                        margin-top:5px;
                    }
                }
            }
        }
    }

    @media only screen and (min-width:320px) and (max-width:768px){
        .six{
            position:relative;
            width:100vw;
            margin-top:0em;

            .rotate-img{
                margin-top:0;
                margin:0 auto;
                width:100vw;
                display: grid;
                grid-template-columns: 3fr;
                justify-content: center;
                align-content: center;
           
                .rotation{
                    position: relative;
                    width: 100vw;
                    margin: 0 auto;
                    height:400px;
                    .circle{
                        margin-top: 0px;
                        margin-left: 0px;
                        margin: 0 auto;
                        width:250px;
                        height:250px;

                        .cir-img1{
                            margin-left:55px;
                            margin-top:-20px;
                        }

                        .cir-img2{
                            margin-left: 150px;
                            margin-top: -15px;
                        }

                        .cir-img3{
                            margin-left: -18px;
                            margin-top: 65px;
                        }

                        .cir-img4{
                            margin-left: 218px;
                            margin-top: 60px;
                        }

                        .cir-img5{
                            margin-left: -12px;
                            margin-top: 160px;
                        }

                        .cir-img6{
                            margin-left: 217px;
                            margin-top: 152px;
                        }

                        .cir-img7{
                            margin-left: 60px;
                            margin-top: 212px;
                        }

                        .cir-img8{
                            margin-left: 159px;
                            margin-top: 211px;
                        }
                    }

                    figure{
                        margin-left: 45px;
                        margin-top: -183px;
                        img{
                            width: 100px;
                            height: 100px;
                        }
                    }
                }

                .fb-snap{
                    margin: 0 auto;
                    width: 100vw;
                    margin-top: 8em;
                    margin-left:0px;

                    .space{
                        .fb-page{
                            position:absolute;

                           width:100vw;
                            span{
                                width:0px;
                                display:block;
                                margin:0 auto;
                                iframe{
                                    position:absolute;
                                    width:0px;
                                    width:100vw;
                                    display:block;
                                    margin:0 auto;
                                }
                            }

                        }
                      
                    }

                    .fb_text{
                        width: 100%;
                        position: relative;
                        height: 8em;
                        text-align: center;
                        margin:0 auto;

                        p{
                            position:relative;
                            padding-left:0em;
                        }
                    }

                    .fb_download{
                        position: relative;
                        width: 100%;
                        height: 14em;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        
                        a{
                            img{
                                margin-left:0px;
                            }
                            .playstore{
                                position:relative;
                                margin-top:0px;
                            }
                        }
                    }
                }
            }

            .footer{
                width:100vw;
                background: #2F313D;
                display: grid;
                grid-template-columns: 2fr;
                color: white;
                height: auto;
                align-items: center;

                .fungry_logo{
                    margin:0 auto;
                    background:#2F313D;
                    text-align:center;
                    .footer_logo{
                        position: relative;
                        padding-top:0px;
                        padding-left:0px;

                        .fun_text{
                            left:0;
                        }
                    

                        img{
                            width: 75px;
                            height: 75px;
                            border-radius: 5px;
                            position:relative;
                            margin-left:15px;
                        }

                        p{
                       
                            color: #6b8aff;
                            height: 20px;
                            line-height: 1.5;
                            font-size: 12px;
                            position:relative;
                          
                        }
                    }
                }

                .address{
                    background:#2F313D;
                    margin:0 auto;
                    position: relative;
                    text-align: center;
                    padding-top:0px;
                    width:100vw;

                    p{
                        margin-top:0;
                        margin-left:auto;
                    }
                }

                .menu{
                    background:#2F313D;
                    text-align:center;
                    padding-top:0px;
                    ul{
                        margin-left:-40px;
                        li{
                            .half-line{
                                margin:0 auto;
                                width:13%;
                            }
                        }
                    }
                }

                .help{
                    background:#2F313D;
                    text-align:center;
                    padding-top:0px;

                    ul{
                        margin-left:-40px;
                        li{
                            .half-line1{
                                margin:0 auto;
                                width:12%;
                            }
                        }
                    }
                }

                .social-media{
                    margin-top: 0;
                    width: 100vw;
                    position:relative;
                    background: #2F313D;

                    ul{
                        margin-left: 0px;
                        margin: 0 auto;
                        li{
                            float: right;
                            a .fa-instagram{
                                margin-top:0px;
                            }
                
                            a .fa-envelope{
                              
                                margin-top:0px;
                            }
                        }
                    }
                }
            }
        }
    }

    @media only screen and (min-width:414px) and (max-width:768px) and (orientation: landscape){
        .six{
            margin-top:10em;
        }
    }

    @media only screen and (min-width:769px) and (max-width:1024px){
        .six{
            width:100vw;
            margin-top:-150px;
            .rotate-img{
                .rotation{
                    .circle{
                        width: 300px;
                        height: 300px;
                        border: 2px dashed #BFBFBF;
                        border-radius: 50%;
                        margin-left:0px;
                        margin-top:0px;
                        margin: 0 auto;
                        .cir-img1{
                            margin-left:55px;
                            margin-top:-20px;
                        }

                        .cir-img2{
                            margin-left:190px;
                            margin-top:-10px;
                        }

                        .cir-img3{
                            margin-left:-10px;
                            margin-top:65px;
                        }

                        .cir-img4{
                            margin-left:265px;
                            margin-top:65px;
                        }

                        .cir-img5{
                            margin-left:-12px;
                            margin-top:190px;
                        }

                        .cir-img6{
                            margin-left:270px;
                            margin-top:185px;
                        }

                        .cir-img7{
                            margin-left:60px;
                            margin-top:250px;
                        }

                        .cir-img8{
                            margin-left:200px;
                            margin-top:262px;
                        }
                    }

                    figure{
                        margin-left: 45px;
                        margin-top: -230px;
                    }
                }

                .fb-snap{
                    margin: 0 auto;
              
                    margin-top: 0px;
                    margin-left:0px;

                    .space{
                     
                        .fb-page{
                            position:absolute;
                            width:50vw;
                            span{
                                width:0px;
                                width:50vw;
                                display:block;
                                margin:0 auto;
                                iframe{
                                    width:0px;
                                    width:50vw;
                                    margin:0 auto;
                                    display:block;
                                }
                            }
                        }
                      
                    }

                    .fb_text{
                        width: 100%;
                        position: relative;
                     
                        text-align: center;
                        margin:0 auto;

                        p{
                            position:relative;
                            padding-left:0em;
                        }
                    }

                    .fb_download{
                        position: relative;
                        display: grid;
                        grid-template-columns: 3fr 3fr;
                        margin: 0 auto;
                        margin-left: 0px;
                        margin-top: 0px;
                        
                        a{
                            img{
                                margin-left:0px;
                            }
                            .playstore{
                                position:relative;
                                margin-top:15px;
                            }
                        }
                    }

                }
            }

            .footer{
               .social-media{
                   ul{
                       margin-left:0px;
                   }
               }
            }
        }
    }