    .four{
        position: relative;
        background: white;
        min-height: 100%;
        overflow-x: hidden;

        overflow-y:hidden;
        width:auto;
      
        .btn{
            margin-top:30px;
        }
        
        .add_ani{
            display:grid;
            grid-template-columns: 3fr 3fr 3fr;
            justify-content: center;
            align-items: center;
            margin-top:0px;
            transform:scale(1.1);

            .three_one{
                @extend %four_slide_div;
                margin-left:140px;
                margin-top:60px;
                border:0px;

                img{
                    @extend %four_slide_image;
                }
            
                @extend %inside_text;

            }

           

            .three_two{
                @extend %four_slide_div;
                margin-left:75px;
                margin-top:60px;
                border:0px;
                img{
                    @extend%four_slide_image;
                }


                @extend %inside_text;
            }

            .three_three{
                @extend %four_slide_div;
                margin-left:10px;
                margin-top:60px;
                border:0px;
                img{
                    @extend%four_slide_image;
                }

               @extend %inside_text;
            }

          
        }

        .see_all{
            color:#5190DE;
            width:250px;
            margin-top:90px;
            height:40px;
            border:0px;
            border: 1px solid #5190DE;
            background: white;
            margin-left:580px;
        }

        .fa-long-arrow-right{
            margin-left:20px;
           
        }

        .slidescale{
            animation-name:fourslide;
            animation-duration:1s;
            animation-timing-function:ease;
            animation-delay:0;
            animation-iteration-count: initial;
            animation-fill-mode: forwards;
            @keyframes fourslide{
                0%{
                 transform:scale(1.1);                
                }
               
                100%{
                   transform:scale(1.2);
                }
            }
        }

        
    }

  
    @media only screen and (min-width: 414px) and (max-width:768px){
        body{
            overflow-x:auto;
        }
        .four{

            .wrapper{
                display: flex;
                flex-wrap: nowrap;
                height: 300px;
                overflow-x: auto;
                width:auto;
             
            }
            .add_ani{
                margin-top:-50px;
                margin-left:-90px;  
                width:480px;
                .three_one{
                    margin-left: 0px;
                margin-top: 0px;
                border: 0px;
                height: 200px;
                width:240px;
                position: absolute;

                    img{
                        
                        margin-top: -100px;
                        margin-left: 40px;
                       
                    }
                }

                .three_two{
                    margin-left: 345px;
                    margin-top: 0px;
                    border: 0px;
                    height: 200;
                    position: absolute;

                    img{
                        
                        margin-top: -100px;
                        margin-left: 50px;
                       
                    }
                }

                .three_three{
                    margin-left: 690px;
                    margin-top: 0px;
                    border: 0px;
                    height: 200;
                    position: absolute;

                    img{
                        
                        margin-top: -100px;
                        margin-left: 50px;
                       
                    }
                }
            }

            .see_all{
             
                height: 60px;
                margin-left: 95px;
            }
        }
     }