
    .three{
        position: relative;
        background: white;
        min-height:100%;
        height:850px;
        overflow-x:hidden;
        overflow-y:hidden;
        @extend %menu_center_text;
       
        margin-top:20px;
        .next-btn{
            //margin-top:-200px;
            position:absolute;
            margin-top:-95px;
            text-align:center;
            margin-left:-50px;
        }
    
        .btn1,.btn2,.btn3,.btn5,.btn6{
            @extend %third_btn;
        }

       
        .btn4,.btn7,.btn8{
            @extend %third_btn_second;
        }
    
        .btn1{
            margin-top:$third_slide_btn_margin_top;
            margin-left:500px;
            background:$btn1bgcolor;
    
            @extend %inside_btn_text;
        }
    
        .btn1:after{
            @extend %btn12356;
        }
    
        .btn2{
            margin-top:$third_slide_btn_margin_top+60px;
            margin-left:110px;
            background:$btn2bgcolor;
    
            @extend %inside_btn_text;
        }
    
        .btn2:after{
            @extend %btn12356;
        }
    
        .btn3{
            margin-top:$third_slide_btn_margin_top+120px;
            margin-left:350px;
            background:$btn3bgcolor;
    
            @extend %inside_btn_text;
        }
    
        .btn3:after{
            @extend %btn12356;
        }
    
        .btn4{
            margin-top:$third_slide_btn_margin_top+180px;
            margin-left:110px;
            background:$btnbgtransparent;
    
           @extend %inside_btn_text2;
        }
    
        .btn5{
            margin-top:$third_slide_btn_margin_top+240px;
            margin-left:510px;
            background:$btn5bgcolor;
            position:absolute;
            z-index:5;
            @extend %inside_btn_text;
        }
    
        .btn5:after{
            @extend %btn12356;
        }
        
        .btn6{
            margin-top:$third_slide_btn_margin_top+300px;
            margin-left:230px;
            background: #87be51;
    
            @extend %inside_btn_text;

            p{
                margin-top:1px;
            }
        }
    
        .btn6:after{
            @extend %btn12356;
        }
    
        .btn7{
            margin-top:$third_slide_btn_margin_top+370px;
            margin-left:420px;
            background:$btnbgtransparent;
    
            @extend %inside_btn_text2;
        }
    
        .btn8{
            margin-top:$third_slide_btn_margin_top+420px;
            margin-left:120px;
            background:$btnbgtransparent;
    
            @extend %inside_btn_text2;
        }
    
        .rotate-img{
            display: flex;
            flex-wrap: nowrap;
            //height: 350px;
            overflow-x: hidden;
            overflow-y:hidden;
            background:transparent;
            //min-width:250px;
            .phimg{
                margin-top:330px;
                height:680px;
                position:absolute;
                margin-left:500px;
                z-index:2;
              
            }
    
            .back-img{
                position:relative;
                width: 130px;
                height: 90px;
                margin-left: 1240px;
            }
    
            .fruit{
                position: absolute;
                width:30px;
                height: 30px;
                margin-top: 280px;
                margin-left: 1220px;
            }
    
            figure{
                position: absolute;
                margin-top: 580px;
                margin-left: 1060px;
                text-align:center;
                font-size:15px;
               .search{
                width:50px;
                height:50px;
               }
            }
    
        
        }
    
        .corner1{
            margin-left:-70px;
            margin-top:430px;
            width:150px;
            height:230px;
            background:$circle_underline;
            -webkit-border-radius: 0px 130px 130px 0px;
            -moz-border-radius: 0px 130px 130px 0px;
            border-radius: 0px 130px 130px 0px;
            position:relative;
            z-index:10;
    
            img{
                width: 150px;
                height: 100px;
                position: relative;
                margin-left: -45px;
                margin-top: 142px;
            }
        }

        .right-corner{
            position:relative;
            z-index:5;
            margin-left: 1230px;
            margin-top: -170px;
            width: 200px;
            height: 250px;
        
            background:$circle_underline;
            -webkit-border-radius: 74% 25% 95% 48% / 95% 0% 100% 48%;
            -moz-border-radius: 74% 25% 95% 48% / 95% 0% 100% 48%;
            border-radius: 74% 25% 95% 48% / 95% 0% 100% 48%;

            img{
                height: 150px;
                margin-top: 70px;
                margin-left: 40px;
            
            }
        }

        
        .largescale{
            animation-name:changescale;
            animation-duration:0.5s;
            animation-timing-function:ease;
            animation-delay:0;
            animation-iteration-count: initial;
            animation-fill-mode: forwards;
            @keyframes changescale{
                0%{
                    transform:scale(0.5);
                    opacity:0;
                }
                100%{
                    transform:scale(1);
                    opacity:1;
                }
            }
            }

    }

    // adding media query in content3

    @media only screen and (min-width: 414px) and (max-width:768px) and (orientation:portrait){
      .three{
            min-height:150%;
            height:1200px;
        p{
            .btn{
                border-bottom: 5px solid #DFE4FD;
               
                margin-left: 8%;
            }

            b{
                font-size:23px;
            }

            .next-btn{
                margin-top:-30px;
                margin-left:-140px;
            }
        }

        
          .btn1{
            margin-top: 48%;
            margin-left: 50%;
            width:160px;
          }

          .btn1:after{
            content: "\f00c";
            font-family: Fontawesome;
            color: white;
            padding: 8px;
            font-size: 15px;
            position: absolute;
            border: 4px solid white;
            border-radius: 50%;
            width: 10%;
            height: 35%;
            background: #5B8EDC;
            margin-top: -40px;
            margin-left: 60px;
          }

          .btn2{
              width:140px;
              margin-left: 10%;
          }

          .btn2:after{
            content: "\f00c";
            font-family: Fontawesome;
            color: white;
            padding: 8px;
            font-size: 15px;
            position: absolute;
            border: 4px solid white;
            border-radius: 50%;
            width: 10%;
            height: 35%;
            background: #5B8EDC;
            margin-top: -40px;
            margin-left: 50px;
          }

          .btn3{
            margin-left: 40%;
            width: 170px;
            margin-top: 75%;
        
            } 

          .btn3:after{
            content: "\f00c";
            font-family: Fontawesome;
            color: white;
            padding: 8px;
            font-size: 15px;
            position: absolute;
            border: 4px solid white;
            border-radius: 50%;
            width: 10%;
            height: 35%;
            background: #5B8EDC;
            margin-top: -40px;
            margin-left: 60px;
          }

          .btn8{
              margin-top:380px;
              width:100px;
              border:2px solid powderblue;
              margin-left:270px;
             
          }

          .btn6{
              margin-top:390px;
              width:130px;
              margin-left:60px;
          }

          .btn6:after{
            content: "\f00c";
            font-family: Fontawesome;
            color: white;
            padding: 8px;
            font-size: 16px;
            position: absolute;
            border: 4px solid white;
            border-radius: 50%;
            width: 10%;
            height: 35%;
            background: #5B8EDC;
            margin-top: -40px;
            margin-left: 40px;
          }

          .btn5{
              margin-top:470px;
              margin-left:220px;
              width:160px;
          }

          .btn5:after{
            content: "\f00c";
            font-family: Fontawesome;
            color: white;
            padding: 8px;
            font-size: 15px;
            position: absolute;
            border: 4px solid white;
            border-radius: 50%;
            width: 10%;
            height: 35%;
            background: #5B8EDC;
            margin-top: -40px;
            margin-left: 60px;
          }

          .btn7{
              margin-top:475px;
              margin-left:-5%;
              border:2px solid powderblue;
          }


          .btn4{
              margin-top:550px;
              border:2px solid powderblue;
              margin-left:80px;
              width:170px;
          }
          

          .corner1{
             background:transparent;

             img {
                width: 150px;
                height: 100px;
                position: relative;
                margin-left: -80px;
                margin-top: 142px;
            }
          }

          .rotate-img{
            .phimg {
                margin-top: 500px;
                position: absolute;
                margin-left: 140px;
              }

              figure{
                position: absolute;
                margin-top: 900px;
                margin-left: 90px;
                text-align: center;
                font-size: 15px;
    
                .search {
                    width: 70px;
                    height: 70px;
                }
    
                figcaption{
                    font-size:20px;
                }
            }
    
          } 
          
          .right-corner{
            margin-left: 300px;
            transform: rotate(-20deg);
            margin-top: 80px;
            background: transparent;
        
          }
         
         
      }
    }

    
      

   

