    .four{
        position: relative;
        background: white;
        min-height: 100%;
        overflow-x: hidden;

        overflow-y:hidden;
        
      
        .btn{
            margin-top:30px;
        }
        
        .add_ani{
            width: 100%;
            height: 270px;
            margin: 0;
            top: 0;
            display:grid;
            grid-template-columns: 3fr 3fr 3fr;
            justify-content: center;
            align-items: center;
            margin-top:0px;
            transform:scale(1);
            
            .three_one{
                display: grid;
                grid-template-columns: 1.5fr 1fr;
                @extend %four_slide_div;
                    margin-left:110px;
                    margin-top:60px;
                    border:0px;
    
                    img{
                        @extend %four_slide_image;
                    }
                
                 @extend %inside_text;

            }


            .three_two{
                display: grid;
                grid-template-columns: 1.5fr 1fr;
                @extend %four_slide_div;
                margin-left:75px;
                margin-top:60px;
                border:0px;
                img{
                    @extend%four_slide_image;
                }


                @extend %inside_text;
            }

            .three_three{
                display: grid;
                grid-template-columns: 1.5fr 1fr;
                @extend %four_slide_div;
                margin-left:40px;
                margin-top:60px;
                border:0px;
                img{
                    @extend%four_slide_image;
                }

               @extend %inside_text;
            }

          
        }
        
        .meal{
            width: 100vw;
            height: 50px;
            position: relative;
            img{
                position: absolute;
                width: 90px;
                height: 80px;
                right: 260px;
                top: 75px;
            }

            button{
                position: absolute;
                margin-left: 550px;
                left: 0;
                top: 0;
                margin-top: 30px;
                color:#5190DE;
                width:250px;
                height:40px;
                border:0px;
                border: 1px solid #5190DE;
                background: white;
            }
    
            .fa-long-arrow-right{
                margin-left:20px;
               
            }
        
         }

       

        .slidescale{
            animation-name:fourslide;
            animation-duration:1s;
            animation-timing-function:ease;
            animation-delay:0;
            animation-iteration-count: initial;
            animation-fill-mode: forwards;
            @keyframes fourslide{
                100%{
                 transform:scale(1.1);  
                padding:-50px;
                }
               
            }
        }

        
    }

@media only screen and (min-width:320px) and (max-width:1349px){
    .four{
        width:100%;
        position:relative;

        .add_ani{
            position: relative;
            margin-left:0px;
            height:300px;
            left:0;
            margin: 0;
            top: 0;
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            width:auto;
        

            .three_one{
                position:absolute;
                left:0;
                margin-left:40px;
            }

            .three_two{
                position:absolute;
                margin-left: 385px;
                left:0;
            }

            .three_three{
                position:absolute;
                margin-left: 730px;
                left:0;
            }
        }

        
        .meal{
            display:none;
        }
    }
}

