.five{
    position:relative;
    min-height:100%;
    background:white;
    margin-top:-150px;
    
    .meal{
        width:600px;
        height:450px;
        border:1px solid #5190DE;
        margin-left:140px;

        .meals{
           // width:80px;
            height:80px;
            position:relative;
            z-index:4;
            margin-left:900px;
            margin-top:-100px;
            border-radius:5px;
        }
       
        .up-to-date{
            width:350px;
            height:160px;
            background:white;
            border:0px;
            position:static;
            z-index:5;
            margin-left:-40px;
            margin-top:135px;
            
            h1{
                padding-top:5px;
                word-spacing:0px;
                line-height:0.8;
            }

            span{
                font-size:15px;
            }

            
        .slide_group{
            display: flex;
            flex-wrap: nowrap;
            height: 380px;
            overflow-x: hidden;
            overflow-y:hidden;
            width: 1100px;
            position:static;
            z-index:1;
            margin-left:148px;
           //z-index:3;
            margin-top:-230px;
            //transform: translateX(430px);
           
            min-width:750px;
            max-height:500px;
            background:transparent;

            .card {
                @extend %scroll_group;
               transform: translateX(350px);
                
                .fa-heart{
                    font-family: "Font Awesome 5 Free";
                    font-size: 20px;
                    position: relative;
                    float: right;
                    margin-top: -40px;
                    margin-right: 20px;
                    color: white;
                    opacity:2.5;
                }
                
                @extend %background_cover_transparent;
               @extend %card_text;
              }

              .card_1 {
                @extend %scroll_group;
                margin-left:25px;
                transform: translateX(350px);

                .fa-heart{
                    font-family: "Font Awesome 5 Free";
                    font-size: 20px;
                    position: relative;
                    float: right;
                    margin-top: -40px;
                    margin-right: 20px;
                    color: white;
                    opacity:2.5;
                }

               @extend %background_cover_transparent;
               
               @extend %card_text;
              }

              .card_2 {
                @extend %scroll_group;
                margin-left:20px;
                transform: translateX(350px);


                .fa-heart{
                    font-family: "Font Awesome 5 Free";
                    font-size: 20px;
                    position: relative;
                    float: right;
                    margin-top: -40px;
                    margin-right: 20px;
                    color: white;
                    opacity:2.5;
                }

                @extend %background_cover_transparent;
                
               @extend %card_text;
              }
              
          
        }
    }


        .slide_group.active{
            cursor:grabbing;
            position:relative;
            z-index:10;
            cursor:-webkit-grabbing;
            
            .card,.card_1,.card_2{
               
               transform:translateX(100px);
             
            }

        }

    }
}

@media only screen and (min-width: 414px) and (max-width:768px) {
    .five{
        margin-top:-230px;
        .meal{
            border:0px;

            .up-to-date {
                margin-left: -90px;
                margin-top: -10px;
                font-weight: bolder;

                h1{
                    line-height: 0.5;

                    span h1{
                        margin-left:50px;
                    }
                }

                .read-and-get   {
                    font-size: 20px;
                    opacity: 0.7;
                    font-weight: normal;

                   span{
                       margin-left:50px;
                       font-size:22px;
                   }
                }

                .slide_group {
               
                    width:414px;
                   
                    margin-left: -350px;
                    margin-top: 20px; 
                     display: flex;
                    flex-wrap: nowrap;
                    height: 360px;
                    overflow-x: auto;
                    width:auto;
                 
                    .card .container {
                        margin-top: 10px;
                        padding: 0px 15px;
                        opacity: 0.5;
                    }

                    .card_1 .container {
                        margin-top: 10px;
                        padding: 0px 15px;
                        opacity: 0.5;
                    }

                    .card_2 .container {
                        margin-top: 10px;
                        padding: 0px 15px;
                        opacity: 0.5;
                    }
                
                }
            }

           
        }
    }
 }