.header{
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    background:white; 
.logo1{
    display: flex;

    a{
        display: contents;
        text-decoration: none;
    }
    img{
        width: 45px;
        line-height: 50px;
        padding: 5px 25px;
        height: 45px;    
            }
    p{
        color: $primary_text_color;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
    }
        
        }
    nav{
       
        ul {
      
            list-style: none;
            margin:0px;
            li{

                display: inline-block;
                color:rgb(0, 0, 0);
                text-decoration:none;
                padding:10px 30px;
                position: relative;

                a:active{
                    color: $nav_selected_menu;
                }
                a:hover{
                    color: $nav_selected_menu;
                }
                
                
                a{
                    text-decoration: none;
                    color: $nav_unselected_menu;
                    font-family: MyanmarSangamMN;
                    font-size: 14px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: center;
                }

                &:hover{
                    
                    &:not(:last-child):before{
                        content: "";
                        width: 25px;
                        height: 3px;
                        background: $line_button;
                        left: 30px;
                        bottom: 0;
                        position: absolute;
                    }
                    }
                }

                .btn1{
                    //    height:25px;
                    cursor: pointer;
                    padding: 0px 10px;
                    border:1px solid $accent_color;
                    color:white;
                    //    margin-top:15px;
                    border-radius:50px;
                    background:$accent_color;
                    height:30px;

                    a{
                        color:white;
                        font-weight:700;
                    }
                }

                .btn1 a:hover{
                    color:$primary_text_color;
                }
            }


        }

        .home{     
            a{
                color: $nav_selected_menu;
                font-family: MyanmarSangamMN;
                font-size: 14px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                &::before{
                    content: "";
                    width: 25px;
                    height: 3px;
                    background: $line_button;
                    left: 30px;
                    bottom: 0;
                    position: absolute;
                }
            }
        }
}

.campaign{
    img{
        width:1348px;
        height:200px;
    }
}

@media only screen and (min-width: 414px) and (max-width:768px){
   
    .campaign{
        img{
           width:414px;
           
        }
    }

    .sticky {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 50;
    }

    .nav{
        .toggleNav{
               margin-right: 30px;
               margin-top: 17px;
               text-decoration: none;
           }
    }

      .sticky{
         padding-top: 70px;
      }
}



@media only screen and (min-width:768px) and (max-width:1024px){
    .nav{
        .toggleNav{
            margin-left: 525px;
        }
    }

    // .header{
    //     width:0px;
    //     .nav{
    //         min-width:0;
    //     }
    // }
    .campaign{
        img{
           width:414px;
           
        }
    }
}


