$circle_underline : #DFE4FD;

$primary_color:#3D3D3D;

$second_page : #EEF3FF;

$footer_font_size : 12px;

$footer_normal_text:#BFBFBF;

$footer_colo_text_color:#6B8AFF;

$third_slide_btn_margin_top : 100px;

$four_slide_text_color:#5B8EDC;

